[2016-05-11 13:32] ShovanSargunam opened #2 "Configurations sp incorrectly"
On page https://github.com/96boards/documentation/blob/master/ConsumerEdition/DragonBoard-410c/README.md

configuraions = configurations

[2016-05-11 13:36] sdrobertw commented on #2
Thank you, you have been assigned this issue.

[2016-05-11 13:39] ShovanSargunam commented on #2
FIxed

[2016-05-11 13:39] #2 closed

[2016-05-19 19:01] cyberh0me opened #4 "5.2.1 Installing ADB Drivers"
the requested change of "android_winusb.inf" does not work as the installation fails with "The hash for the file is not present in the specified catalog file. The file is likely corrupt or the victim of tampering"

solution either sign the driver or disable driver signature verification...

[2016-05-19 19:13] cyberh0me commented on #4
another issue even with the changes is windows not able to find a driver...
the board is from Arrow "USB\VID_05C6&PID_9091&MI_01" and this item is not included in your requested changes

[2016-05-19 19:39] sdrobertw commented on #4
@cyberh0me

If this is a comment with regard to the Coursera documentation, please provide the Course#/name and module you are on.

If not, please provide links to the documents you are referring to.

Thanks.

[2016-05-19 19:51] cyberh0me commented on #4
sorry, documentation / dragonboard410c / AndroidUserGuide_DragonBoard.pdf

[2016-05-20 05:50] sdrobertw commented on #4
@cyberh0me

96Boards didn't actually make that document. That being said, we are in the process of extracting, fixing, and consolidating all documentation, especially from documents like this one. It might take some time, though I will make sure this issue stays on the list. Where you able to work around the issue, even with bad instructions?

Thanks

[2016-05-20 23:20] pietrushnic opened #5 "Fix for couple minor issues in wiki"
Hi 96boards,
I did minor fixes to JTAG-on-HiKey wiki page. Feel free to merge [this commit](https://github.com/3mdeb/96boards-docs-wiki/commit/3e02024ac4f32800d3bc5f4a0b31a9da8dba3073).

[2016-05-21 00:00] cyberh0me commented on #4
i know you did not make that documents but qualcomm says explicit all support and issues are handled from 96boards
meanwhile i stopped to work with that board family based on technical troubles, documentation issues, time wasting things like this

[2016-05-21 00:00] #4 closed

[2016-05-21 00:04] sdrobertw commented on #5
I will review changes. Thank you very much for your contribution!

Stay tuned.

[2016-05-24 22:00] sdrobertw commented on #5
I would be glad to merge. Could you please send a pull request for these changes.

Thank you!

[2016-05-24 22:18] pietrushnic commented on #5
@sdrobertw how and where I can send pull request for wiki page ? IIUC PRs doesn't work against GitHub wiki. Am I missing something ?

[2016-05-25 01:17] sdrobertw commented on #5
You're right. Since there is no way to submit a pull request for the wiki, we have merged your commit. Sorry for the confusion.

Thanks again!

[2016-05-25 01:17] #5 closed

[2016-07-10 09:51] nuodong opened #14 "No autogen.sh file in libsoc package"
In documentation/ConsumerEdition/GPIO/Advanced/libsoc-install/README.md, Command section:
There is a command specifying  $ ./autogen.sh<Enter> , but there is no such file in libsoc package.

[2016-07-10 18:27] sdrobertw commented on #14
Did you try going through the instructions as is, without skipping the $ ./autogen.sh command?

[2016-07-11 01:51] nuodong commented on #14
Yes, I go through the libsoc package and there is no such command.

[2016-07-11 02:32] sdrobertw commented on #14
Before attempting to build the library, did you update your system and install all dependencies?

$ sudo apt-get update
$ sudo apt-get upgrade
$ sudo apt-get dist-upgrade

$ sudo apt-get install git build-essential autoconf automake libtool swig3.0 python-dev nodejs-dev cmake pkg-config libpcre3-dev

$ sudo apt-get clean

[2016-07-11 02:51] sdrobertw commented on #14
I have recreated this issue, I am working to resolve now. I should have something within the day.

Thank you!

[2016-07-11 02:58] sdrobertw commented on #14
Please replace the $ ./autogen.sh command with the following:

$ autoreconf -i

everything else should be fine. I will confirm this tomorrow.

[2016-07-11 03:03] sdrobertw commented on #14
Method using $ ./autogen.sh can be performed as follows.

$ wget https://github.com/jackmitch/libsoc/archive/0.8.1.tar.gz
$ tar -zxvf 0.8.1.tar.gz
$ cd libsoc-0.8.1
$ ./autogen.sh
$ ./configure --enable-board=dragonboard410c --enable-python=3 |& tee py3_conf.log
$ make V=1 |& tee make.log
$ sudo make install
$ sudo ldconfig -v -N

I will adjust the documentation accordingly. Thank you very much fo

[2016-07-28 16:04] molecule opened #15 "Android SD card image download points to wrong image"
The Download link for the latest Android
http://www.96boards.org/db410c-getting-started/Downloads/Android.md/

is still pointing to 16.03:
builds.96boards.org/releases/dragonboard410c/qualcomm/android/16.03/dragonboard410c_sdcard_install_android-*.zip

instead of 16.06:
http://builds.96boards.org/releases/dragonboard410c/qualcomm/android/

 "Latest" points correctly to 16.06:
http://builds.96board

[2016-07-28 18:16] jonberling opened #16 "Breadcrumb on website seems to be one directory off"
I was browsing http://builds.96boards.org/releases/dragonboard410c/qualcomm/android/15.06/

The breadcrumb path at the top of the page seems to be off by one. If I want to navigate back to http://builds.96boards.org/releases/dragonboard410c/qualcomm/android/, I need to click on the qualcomm link. Likewise if I want to navigate to http://builds.96boards.org/releases/dragonboard410c/qualcomm/, I nee

[2016-07-28 18:44] molecule opened #17 "Installation instructions should link to Downloads page."
This documentation doesn't have a link back to the Downloads page (I assume it's the same for the other Download instructions too):

Step 2: Recall Download Location
    Locate SD card install file from Downloads page.
    This file will be needed for the next step.

The phrase "Downloads page" should link to the Downloads page:
http://www.96boards.org/db410c-getting-started/Downloads/README.md/

[2016-07-28 19:25] sdrobertw commented on #15
Due to bugs found in the 16.06 Android release, I have reverted the links back to 16.03. I will add a disclaimer to the page to inform of this issue.

Once these bugs are addressed, links will return to "latest" so they can once again remain dynamic.

[2016-07-28 19:32] sdrobertw commented on #17
Thank you @molecule

This has been addressed in the github, self rendering should take place on the website by end of day.

Please see commits below:

https://github.com/96boards/documentation/commit/b7df2ed7d6bb112eaf6833b2691d51fdc73ba078
https://github.com/96boards/documentation/commit/bda776d3a43e70c44a445554ac2b08df25c609e7
https://github.com/96boards/documentation/commit/f7839bc1998ea2bdb0c4

[2016-07-28 19:41] sdrobertw commented on #16
Thank you @jonberling

I have tried to replicate this issue on the following host machines/operating systems:

Ubuntu 15.04 - Firefox: cannot replicate issue
Windows 10 - Chrome: cannot replicate issue
MacOSX Mavericks - Safari and Chrome: cannot replicate issue

Clicking forward by choosing a directory option, or going back by clicking the "Parent Directory" link should work.

Is the "Parent Dire

[2016-07-28 21:03] molecule opened #18 "PDF seems to be missing a value"
I'm trying to download and build the source code, following the instructions from here:
https://github.com/96boards/documentation/tree/master/ConsumerEdition/DragonBoard-410c/AdditionalDocs#build-and-installation

The PDF seems to have an error in it. See a screenshot here, from page 8: http://imgur.com/a/ZlyEH

Not sure what is supposed to be there, though...

[2016-07-28 21:06] molecule commented on #15
Sounds good! Thanks for the clarification. I assume you're referring to this issue:
http://www.96boards.org/forums/topic/unfortunately-the-process-com-android-phone-has-stopped-dragonboard/

16.03 is build #99, and 16.06 is build #118. Is there any possibility of getting access to any of the builds between 99 and 118? Maybe... build 117?

[2016-07-28 21:07] molecule commented on #17
Thanks!

[2016-07-28 21:07] #17 closed

[2016-07-28 21:16] molecule commented on #16
I just recreated this on Firefox on Windows:
1. Start in 15.06: http://builds.96boards.org/releases/dragonboard410c/qualcomm/android/15.06/
2. Want to see the list of all android builds, not just 15.06, so I click on "android" on the top: http://imgur.com/a/Czfu5
3. Nothing happens, I stay on the same 15.06 page.
4. Click on "qualcomm" (to the left of "android" in the picture above), and now I go

[2016-07-28 21:28] sdrobertw commented on #18
@molecule

The PDF document you are referring to is a static Qualcomm Developer Network document, I do not have access to the raw document. One of the biggest problems with static documentation is keeping it up to date and/or making small changes without having to push out an entire new version of the doc.

96Boards documentation wants to do away with as much static documentation as possible. This

[2016-07-28 21:32] molecule commented on #18
I see. That makes sense. As a stop-gap, I can try and figure out what value
should be there, and at least update this thread.

Thanks for all your amazing work and help in this process! Your fast and
thorough responses inspire confidence and build trust in the entire
96boards ecosystem.

I'll keep this issue open for now, and close it once I get more info.
Please don't take the PDF link down, tho!

[2016-07-28 21:34] sdrobertw commented on #14
@nuodong

Can we close this issue?

[2016-07-28 21:42] sdrobertw commented on #15
@molecule

Yes, the issue you pointed out in the forum is correct. This was pointed out to me at the AT&T Shape event by some of the hackers, as well as by some other folks inside Qualcomm. While it is being addressed we recommend stepping back to the last stable release which is 16.03:
http://builds.96boards.org/releases/dragonboard410c/qualcomm/android/16.03/

96Boards DragonBoard 410c Downloads

[2016-07-28 21:48] sdrobertw commented on #16
Okay, it looks like I was not understanding the issue. I have replicated it on all of my previously mentions host machines/operating systems listed in a previous comment:

Ubuntu 15.04 - Firefox: issue has been replicated
Windows 10 - Chrome: issue has been replicated
MacOSX Mavericks - Safari and Chrome: issue has been replicated

I will look further into this.

[2016-07-29 16:41] molecule commented on #15
Great! Thanks for the link to the snapshots folder. Looks like they're all pretty funky in there. Many of them won't even boot. We'll just have to wait for a new working release...hopefully soon!

[2016-07-29 16:41] #15 closed

[2016-08-01 17:06] sdrobertw commented on #14
I will close this issue, please open a new issue if you continue to experience problems while
building this library.

Thanks

[2016-08-01 17:06] #14 closed

[2016-08-09 02:19] atoaster opened #22 "fastboot stuck on "waiting for devices""
I am trying to install Android on the lemaker hikey 8gb MMc version (I think it's 8gb, how do you check?). I can succesfully flash the ptable using:`
sudo fastboot flash ptable ptable-aosp-8g.img`

then the light on the board comes on. I do sudo fastboot reboot, the light turns off, I check for the device with ls /dev/ttyUSB* and the output is:
/dev/ttyUSB0

But when I run the command:`
sudo fastb

[2016-08-09 02:44] vchong commented on #22
The output of the ptable command is the same as the output of the python script?

Did you run the python script before executing the `sudo fastboot flash ptable ptable-aosp-8g.img` command? If so, and you've rebooted, then you need to run the python script again, to get it into fastboot mode again, before executing `sudo fastboot flash fastboot fip.bin`.

In any case, a reboot shouldn't be necessa

[2016-08-09 04:52] sdrobertw commented on #22
@atoaster

Could you please provide a link to the docs you are using?

[2016-08-11 02:36] ninesunqian opened #23 ""fastboot oem serialno" gets "FAILED (remote: OEM Command not recognised.)""
Hello, I want to change the device id outputed by "fastboot devices".
I did it as follows:
  1 built edk2 according to https://github.com/96boards/documentation/wiki/HiKeyUEFI . (modify the ptable as "sudo PTABLE=aosp-8g bash -x generate_ptable.sh")
  2 replaced the EFI/BOOT/fastboot.efi by new built AndroidFastbootApp.efi in boot_fat.uefi.img in https://github.com/96boards/documentation/wiki/HiKe

[2016-08-25 01:24] ieei0214 opened #24 "android-6.0.1_r16 build error "unknown type configfs""
Hi,

https://github.com/96boards/documentation/wiki/CE-AOSP-RPB-HiKey-15.12-Build

I follow the steps to build android-6.0.1_r16 but get this error.

Does anyone know how to fix it?  Thanks.

Aidl Preprocess: out/target/common/obj/framework.aidl
host Executable: backtrace_test_32 (out/host/linux-x86/obj32/EXECUTABLES/backtrace_test_intermediates/backtrace_test32)
Install: out/host/linux-x86/lib/li

[2016-08-25 02:09] vchong commented on #24
Duplicate of http://www.96boards.org/forums/topic/android-6-0-1_r16-build-error-unknown-type-configfs. Answered in the forum.

[2016-08-25 02:09] #24 closed

[2016-08-30 09:58] ShovanSargunam commented on #16
@doanac can you look at this?

Thanks

[2016-08-30 22:32] sdrobertw commented on #16
@fboudra maybe?

[2016-08-30 22:33] sdrobertw commented on #23
@fboudra any advice?

[2016-08-31 03:32] docularxu commented on #23
ninesunqian, You should use this release:

http://builds.96boards.org/releases/reference-platform/components/uefi/16.06/release/hikey/

16.03 was considered obsolete.

-Guodong

On 31 August 2016 at 06:33, Robert Wolff <notifications@github.com> wrote:

[2016-08-31 08:26] fboudra commented on #16
it's Systems team territory, hence for @doanac

[2016-09-13 08:56] f0c300 opened #26 "edk2-hikey installed but not shipped"
Hello!
 I'm getting this QA error building with poky for the hikey lemaker board.
I'm on branch krogoth for all my layers, and master for meta-96boards

[code]

as a quick fix I added
`FILES_${PN} += "${libdir}/edk2/bl1.bin"`
to the recipe.

As a side-note, when it fails, I have to rebuild (deploy) grub because grubaarch64 gets deleted during the do_deploy, this isn't really an issue but I thought

[2016-09-14 11:04] cba16 opened #27 "SPI Image "boot-db410c-spi.img" not working"
I downloaded this image on the link given here but my Dragonboard doesn't detect anything when I try to boot it with this image on the SD Card. Is there any additional step to do?

[2016-09-14 14:01] sdrobertw commented on #27
@rsalveti

[2016-09-14 14:09] sdrobertw commented on #27
@cba16

boot-db410c-spi.img is just the boot image (it is not an SD card image), I would suggest using fastboot to flash this image to your board.

1. boot your board into fastboot mode
2. flash boot-db410c-spi.img to board via USB to MicroUSB

$ sudo fastboot devices     (to make sure board is detected)
$ sudo fastboot flash boot boot-db410c-spi.img

---

Where did you get this image from? I am g

[2016-09-14 14:12] sdrobertw commented on #23
@ninesunqian

Has this issue been resolved by using the newer release?

[2016-09-14 14:13] sdrobertw commented on #18
@molecule

Can we close this issue?

[2016-09-14 14:14] sdrobertw commented on #16
@doanac any news on this one?

[2016-09-14 14:22] molecule commented on #18
Yeah - I'm not going to be able to find the correct version of the PDF. We
should still work on migrating this documentation from PDF form to your
lovely dynamic system though! If you can push on that, I think it would be
great.

On Wed, Sep 14, 2016 at 7:13 AM, Robert Wolff <notifications@github.com>
wrote:

[2016-09-14 14:30] sdrobertw commented on #18
@molecule Thanks!

Yes, I will definitely be pushing for this. Thank you very much.

[2016-09-14 14:30] #18 closed

[2016-09-21 08:18] cba16 opened #30 "Enabling SPI on Dragonboard 410c with SPIDEV won't work"
Hi,
I'm trying to eenable SPI on my Dragonboard but it doesn't work.
I followed the instruction to use SPIDEV, but on the step git clone -n http://git.linaro.org/landing-teams/working/qualcomm/kernel.git it starts to download and then stops, not finishing, and I can't continue to the next steps without it downloaded.
Why does this happen? How can I fix it and use my SPI?
Thanks

[2016-09-22 17:25] sdrobertw commented on #30
@cba16

Have you reference this doc yet?

https://github.com/96boards/documentation/blob/master/ConsumerEdition/DragonBoard-410c/Configuration/EnableSPI.md

[2016-09-22 17:52] sdrobertw commented on #30
@cba16

I believe you are having storage or networking issues. I was able to clone kernel.git with out any issues onto two separate machines.

I would suggest checking to make sure the machine you are cloning onto has enough storage.

Please let us know if you are still having problems.

[2016-09-25 20:25] MattyBoy4444 opened #32 "OpenCL"
Does the linux image have accelerated OpenCL/Drivers?

[2016-09-26 06:28] ndechesne commented on #32
which Linux image, and for which board?

[2016-09-26 15:29] MattyBoy4444 commented on #32
Bubblegum-98, Debian or Ubuntu Core.

[2016-10-10 20:32] davidbcoulson opened #33 "Android SD Install Image Not Working"
All the steps to add Android to the board were followed (several times).  I believe there is an issue with the Android Install img file.  Perhaps the version on this site is missing boot files.

[2016-10-10 21:23] sdrobertw commented on #33
@davidbcoulson

Sorry you are having issues with the Android install images provided, I would be glad to help fix this. Could you please provide the following information:

1. Which 96Boards are you using?
2. Please provide a link to the instruction set(s) you are following

If you can provide this information, I will be able to check links and test instructions to make sure everything is up to da

[2016-10-11 10:23] ShovanSargunam opened #34 "Github Rendering on Website"
The following page is not rendering properly
http://www.96boards.org/db410c-getting-started/AdditionalDocs/UserManual.md/

Github page can be viewed here
https://github.com/96boards/documentation/blob/master/ConsumerEdition/DragonBoard-410c/AdditionalDocs/UserManual.md

[2016-10-11 14:24] sdrobertw commented on #34
@ShovanSargunam

I am on it, thanks for pointing this out.

[2016-10-12 15:19] sdrobertw commented on #34
This issue has been resolved, please open a new issue for any further website rendering issues.

Thanks!

[2016-10-12 15:21] #34 closed

[2016-10-12 16:35] sdrobertw commented on #33
@davidbcoulson

Has this issue been resolved?

[2016-10-12 16:36] sdrobertw commented on #23
Issue has been closed due to inactivity. If you are still experience problems, please open a new issue.

Thanks!

[2016-10-12 16:36] #23 closed

[2016-10-12 16:36] sdrobertw commented on #22
Issue has been closed due to inactivity. If you are still experience problems, please open a new issue.

Thanks!

[2016-10-12 16:36] #22 closed

[2016-10-12 16:36] sdrobertw commented on #27
Issue has been closed due to inactivity. If you are still experience problems, please open a new issue.

Thanks!

[2016-10-12 16:36] #27 closed

[2016-10-12 16:37] sdrobertw commented on #26
@koenkooi Can you help with this issue?

[2016-10-12 16:37] sdrobertw commented on #30
@cba16

Are you still experiencing this issue?

[2016-10-12 16:38] sdrobertw commented on #32
@ldts Can you help with this issue?

[2016-10-13 15:14] cba16 commented on #30
Hi,
I managed to install it finally but I'm not able to run SPIDEV still. When I connect a sensor board there just isn't anything coming in by SPI. Do I need to trigger it somehow else?

[2016-10-13 18:09] sdrobertw commented on #30
@rsalveti

So you have any advice on this issue?

[2016-10-16 22:15] mattgorski opened #39 "hisilicon poplar kernel source"
Could someone here please let me know where to find the kernel source and if possible the vendor binaries and device tree for the new TV platform 96 board linaro hisilicon poplar?  Thank you in advance.  I'm excited to get my current Android TV builds ported to the poplar.

[2016-10-18 14:14] sdrobertw commented on #39
@mattgorski

You can run an image that is already in flash; however, the kernel source code is not yet available. They are working on releasing this sometime in the near future (I have been told soon, but no promises).

We will be pushing out a Poplar Github landing page by the end of the week, until then I would suggest utilizing the resources available by Tocoding:

http://en.tocoding.com/index.

[2016-10-18 14:32] mattgorski commented on #39
Okay great!  Thank you for the reply Robert.  I guess we will have to use a
prebuilt kernel for the time being which is not a problem.  I can start
work on an AOSP TV device tree and share when ready.  I look forward to the
landing page and future updates!

*Regards, *

*Matthew Gorski *
*Web Development*

*Office:727-822-9000 <727-822-9000>*

*Cell:727-365-4239*
Quick Reach Media, Inc. <http://qu

[2016-10-30 01:39] mattgorski commented on #39
Any updates on the landing page?  I didnt see anything up yet for poplar.  If there is anything I can do to help please let me know...

[2016-10-30 02:36] sdrobertw commented on #39
I will push basic material to 96Boards on Monday, but I need to speak with someone from Tocoding to discuss future contribution and linking between our sites. I also need various images and instructions etc...

For now the Poplar repo can be found here:

www.github.com/sdrobertw/Poplar

I was with Mike L. most of this week so I was unable to shoot out another email but will get on it first thing M

[2016-10-30 17:47] sdrobertw commented on #39
@mattgorski

Right now I am still waiting on some key players to begin their contributions to the landing page.

I will do my best to get as much core information up to the 96Boards github this week.

In the mean time, you can find the Poplar repository under my personal github:

www.github.com/sdrobertw/Poplar

Sorry for the inconvenience, I expect things to be coming together soon.

[2016-10-30 17:47] sdrobertw commented on #33
Issue has been closed due to inactivity. If you are still experience problems, please open a new issue.

Thanks!

[2016-10-30 17:48] #33 closed

[2016-10-31 17:27] mattgorski commented on #39
Thank you for the informative response Robert! I apprciate the update and github link.

[2016-11-01 20:22] mattgorski commented on #39
I've created my own github page for poplar dedicated to Android TV builds.  I just got my board in so ill be testing some builds tonight, not even sure if the device tree or vendor blobs/binaries are correct but it's a work inprogress :)

https://github.com/96Boards-AndroidTV

[2016-11-02 15:21] mattgorski commented on #39
Just a quick question.  How do we enter fastboot mode on the poplar the manual isnt too clear?  I can understand all jumpers off is default emmc...

The 96Boards Poplar board allows system to boot from the SPI flash, NAND flash, fSD,
eMMC, or SPI NAND flash. Jumper J21 BOOTSEL0, Jumper J20 BOOTSEL1, and Jumper
J19 BOOTSEL2 work together to select the boot mode.

The value of BOOTSEL2, BOOTSEL1, or

[2016-11-02 16:09] sdrobertw commented on #39
@kuscsik

Can you help with this please?

[2016-11-02 19:53] mattgorski commented on #39
There does seem to be an S1 recovery button but when held down during power does nothing to enter fastboot.  Thanks for any pointers 96 team...

[2016-11-03 17:21] mattgorski commented on #39
Okay I sucessfully got fastboot in bootloader now buy ctrl+c immmediatly at boot but now how to enter fastboot?  From my experience the command fastboot enters fastboot usb protocol. Does tocoding use an imx type usb tool for uart flashing?  I've been in contact with support and I am awaiting a response on the proceedure.

Here is the correct minicom settings:

sudo minicom -b 115200 -o -D /dev/tt

[2016-11-09 13:36] pfalcon opened #40 "Carbon: No LED information on pin diagram"
I needed to look up which pins the LEDS on Carbon are attached to. The most obvious, graphic place to find that info is of course pin diagram: https://raw.githubusercontent.com/sdrobertw/Carbon/master/HardwareDocs/Carbon_Pinout.png (from http://www.96boards.org/documentation/IoTEdition/Carbon/HardwareDocs/README.md/). But there's no this info there, not good ;-).

[2016-11-09 15:06] idlethread commented on #40
On Wed, Nov 9, 2016 at 7:06 PM, Paul Sokolovsky <notifications@github.com>
wrote:

The schematics are already present, though I agree that we can't expect
everyone to be able to read the schematics.
We're documenting this board on zephyr wiki as we work to get it upstream.
We need to add a link to this wiki[1] or find a way to import that data
into our website.

[1] https://wiki.zephyrproject.org/

[2016-11-15 11:59] daniel-thompson commented on #40
On 09/11/16 15:06, Amit Kucheria wrote:

Out of interest, what stops us from updating the pin-out image? Who has
the original source image?

This is the print-out-and-pin-to-the-wall diagram for the board and is
more useful it it includes the LEDs.

[2016-11-15 13:17] idlethread commented on #40
On Tue, Nov 15, 2016 at 5:29 PM, Daniel Thompson <notifications@github.com>
wrote:

I old have .pdfs. The source images probably exist with the board vendor -
Seeed in this case.

[2016-11-16 16:57] mattgorski commented on #39
Still have not heard a thing from tocoding on how to flash thru UART.  I'd love to try some of my custom builds or even a repacked system image but no idea how to reflash in fastboot.  My poor poplar is just collecting dust now...

[2016-11-16 17:20] sdrobertw commented on #39
@mattgorski I am very sorry, I am really trying to find someone to help with this. Unfortunately I do not own a Poplar nor do I have an experience with it.

I have been hunting down people who can help since this issue started.

Sorry for the inconvenience.

-Robert W.

[2016-11-16 17:20] afaerber commented on #39
In addition to lack of documentation of the current state, is there any "proper" bootloader in the works by Linaro, such as Tianocore or U-Boot? It's disappointing to see Poplar regress compared to HiKey.

[2016-11-17 07:19] kuscsik commented on #39
Hi @mattgorski,

to enter fastboot you need to hit CRTC-C on the serial line during the first seconds of the boot.
You can download the images over TFTP after setting the network parameters:
[code]
  To download the boot image:
[code]

To download the Linux image:

[code]

File system image:

[code]

Kernel Source is still not available for the board, we are trying to speed up the process so it ge

[2016-11-28 11:37] sdrobertw commented on #39
@mattgorski did this help? I would like to close this issue until more Poplar information is available.

Please get back to me.

Thank you.

Robert Wolff - www.96board.org/openhours
robert.wolff@linaro.org

[2016-11-28 11:57] afaerber commented on #39
@sdrobertw The title says "kernel source" - and without sources we have no `hi_kernel.bin` to flash. Nor does it tell us how a Linux  `arch/arm64/boot/Image` relates to this `hi_kernel.bin`.

FTR playing with the above instructions shows that "Fastboot 3.3.0" is in fact a U-Boot fork (whose sources will be needed, too), unrelated to Android's fastboot protocol/tool.

To speed up the process of get

[2016-11-29 10:16] sylvainpelissier opened #42 "Cannot find the Factory Image zip file"
In the [Installation](ConsumerEdition/HiKey/Installation/README.md) folder, it is mentioned that there is a "Factory Images Method" of installation. However, I am not able to find the "Factory Image zip file" in the [Downloads](/ConsumerEdition/HiKey/Downloads/README.md) repository.

[2016-11-29 20:07] mattgorski commented on #39
Great to see all the detailed responses.  I really have had no time to do any custom flashes yet, will be much easier when we have the kernel source and vendor binaries.  One thing that is disappointing to see on the poplar is the deinterlacing with Mali.  Almost unusable as an Android TV device due to this.  I really hope this is fixable with some codec configs and upgraded mali gl binaries.

[2016-11-29 20:16] sdrobertw commented on #39
@afaerber : The current status on Poplar source is out of our hands, though we do have control over the website and your recommendations make a lot of sense, it is a very legitimate observation, one that I will surely pass up the line asap. Thank you very much for your contribution to this thread, once again I am very sorry for the inconvenience.

@mattgorski : I am going to keep this issue active

[2016-11-29 20:22] sdrobertw commented on #42
@sylvainpelissier : Not all builds offer a factory image download. Currently you will only find a factory image download/installation available under AOSP on the HiKey.

https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/Downloads/AOSP.md

This new process is currently in the pipeline. We hope to adapt other images to this model in the near future in order to reduce redund

[2016-11-29 20:23] mattgorski commented on #39
Thanks again for everything @sdrobertw and all who contributed to this issue (a big thanks to @afaerber for the tftp flash instructions), I am sure we have gotten the wheels rolling faster with more interest.

I will make some time to try the device tree with prebuilt kernel I made awhile back (https://github.com/96Boards-AndroidTV).  At least we can get some testing done on some modified system i

[2016-11-30 06:47] sylvainpelissier commented on #42
Thank you for your answer.

[2016-11-30 06:47] #42 closed

[2016-12-02 03:26] kettyjun opened #43 "Does hekey have "Watermark technique on ARM processors"?"
Does hikey have "Watermark technique on ARM processors"? Or is there any details Like "“i.MX53 Reference Manual with fusemap addendum" ?

[2016-12-09 02:57] mattgorski commented on #39
@kuscsik would it be possible to get the u-boot includes/config for poplar so we can implement the android fastboot sparse image protocol so we can use the USB OTG interface for flashing images?  I've implemented fastboot on a couple non Android devices.

[2016-12-09 16:01] mattgorski commented on #39
I am attempting to flash a new system image today and I noticed in the tftp instructions that the rootfs you are flashing is yaffs yet the tocoding flash package has a system.ext4 which i am also building for, ext4 system images so do i convert to yaffs or substitute ext4 for yaffs?  Kinda confused again here I just wish we could fastboot flash and be done...

[2016-12-09 17:04] mattgorski commented on #39
Okay different approach.  @kuscsik What is the hex offset for recovery flashing?

I'll just get a TWRP recovery built and we can bypass the uboot/fastboot until we can build a proper android u-boot.

[2016-12-09 20:59] mattgorski commented on #39
Not getting the tftp to work.  I have followed the basic tftp guide here setting server ip:

http://processors.wiki.ti.com/index.php/Booting_Linux_kernel_using_U-Boot

And get this error:

fastboot# tftp 1000000 system.ext4
ETH0: PHY(phyaddr=255, mii) not link!
ETH1: PHY(phyaddr=3, rgmii) not link!
higmac init fail!

I must not have my network params correct.

ipaddr=192.168.1.10
netmask=255.255.2

[2016-12-19 10:00] Graphicscore commented on #39
Any news on this ? Will we be able to compile AOSP 7.0 for the Poplar aswell ? I'm interested in this board but only if I can compile up to date android versions for it.

[2016-12-19 14:13] mattgorski commented on #39
Looks like we will have sources at least by next week.  For 6.0/7.0/7.1 we will have to wait and see how caught up to mainline google the kernel is for selinux and such.  Here is the latest word from tocoding as of this morning:

Thanks for your understanding.

[2016-12-27 08:29] Graphicscore opened #46 "No/Only Limited video and audio on the HiKey"
Hello, I am currently experience alot of trouble with the HiKey board, I'm working in a company and we're currently trying to evaluate the HiKey as one of our main development boards. The Boards look pretty good but we have some really serious problems regarding video and audio playback. The specification sheet says video and and audio decoding is support (at least h.264 and AAC audio) but all I c

[2016-12-28 08:08] sdrobertw commented on #46
Hello @Graphicscore

Glad to hear you have picked up and began working with the HiKey. I will look further into this issue in the coming week.

Out of curiosity, have you tried any of the pre-built images available here?:

http://builds.96boards.org/releases/reference-platform/aosp/hikey/16.03/

[2016-12-28 21:19] Graphicscore commented on #46
Hi @sdrobertw ,

as of right now I've just played around with own builds or the package provided on the googles website(https://developers.google.com/android/images-preview), I think I've tried some builds of the builds.96boards.org, but to be honest I tried out so many I can't remember. I'm don't have physical access to the device right now because it's already evening here. I'll install one of y

[2016-12-29 07:25] Graphicscore commented on #46
Wait, rust read the PDF, Audio over HDMI is not supported ?

[2017-01-01 03:18] zirill opened #47 "Andoid install SD on DragonBoard 410c?"
Help, how to install android?
after installation, only led4

https://github.com/96boards/documentation/wiki/Dragonboard-410c-Installation-Guide-for-Linux-and-Android#installing-image-using-an-sd-card-image

my step
1) download imge: http://builds.96boards.org/releases/dragonboard410c/qualcomm/android/
i used all version, and always the result was one, led4 and no run

2) write SD Card, I used ubun

[2017-01-01 19:25] sdrobertw commented on #47
@zirill Thank you for a well worded description of your issue.

Instead of installing the latest release, I would suggest installing the 16.03 release.
I am fairly sure the 16.06 release is having issues.

Besides this, your process looks fine. The fact that the User LED 4 turns on and then turns off during boot is also a good sign. Once the LED turns off, a few moments later you should see an And

[2017-01-02 03:30] zirill commented on #47
Thank you.

I installed dragonboard410c_sdcard_install_android-99.zip. Reboot and I waited(after LED off) more than 10 minutes, but nothing happened ((
The monitor has not lighted

Happy New Year!

[2017-01-03 03:03] docularxu commented on #43
Yes, the chip (hi6220) has fuse inside. However, this is not open to the public. It's one-time writable and is written in the production phase.

[2017-01-03 03:15] kettyjun commented on #43
Oh,Thanks

[2017-01-03 03:16] kettyjun commented on #43
@docularxu Oh, thanks!

[2017-01-03 15:43] sdrobertw commented on #40
@pfalcon

This issue will be closed due to inactivity. If you are still experiencing a problem, please open a new issue.

Thanks!

[2017-01-03 15:43] #40 closed

[2017-01-03 15:51] sdrobertw commented on #46
@Graphicscore Happy New Year!

Don't worry about testing every build.

Unfortunately I have been told, there is no HW media support at the moment and there is a risk that there will never be any.

I will continue to look into this. my suggestion is to leave the issue open for a bit longer.

I hope this helps.

[2017-01-03 15:58] sdrobertw commented on #47
@zirill Happy New Year,

I am sorry you are still having issues. Would you be able to stop by OpenHours this week?

4:00p UTC / 8:00a PST - starting time is at the end of the countdown...

www.96Boards.org/OpenHours

[2017-01-03 22:15] sdrobertw commented on #46
@Graphicscore Happy New Year!

Don't worry about testing every build. I have been told HW decode is not currently supported. As a result stuttering may be experienced. This is due to the device reaching thermal limits using software decoding and having to reduce the processor performance accordingly.

While we are unsure as to when this will be addressed for Android on the HiKey, I would suggest c

[2017-01-04 01:01] zirill commented on #47
Please write the steps you need to do.

[2017-01-04 02:18] vchong commented on #47
@zirill Can you try fastboot method [here](https://github.com/Linaro/documentation/blob/master/Reference-Platform/Releases/RPB_16.03/ConsumerEdition/DragonBoard-410c/InstallAOSPRPB-16.03.md)?

[2017-01-04 11:19] daniel-thompson commented on #47
I've not run Android in ages but on DB410C there is no bootloader splash screen and the main video stack does not start until the first-boot optimizations are complete. Thus it takes  a *very* long time for an image to appear on the first boot (>2 minutes I think).

If you have waits "a long time" already then the other issue is that, compared to the Debian images, Android is significantly more fu

[2017-01-04 21:54] Graphicscore commented on #46
@sdrobertw Happy New Year to you aswell !

The Audio over HDMI was described in an PDF that's in the latest build directory.

http://builds.96boards.org/releases/reference-platform/aosp/hikey/16.03/CE-AOSP-RPB-16.03-HiKey-TestReport.pdf

[2017-01-05 06:21] idlethread commented on #46
@Graphicscore

HDMI audio is working and you can get preview images for Hikey directly from Google[1].

The patches for HDMI audio are on their way upstream. Current estimate is that they'll get merged by 4.12. If you're interested in tracking, there is a git tree[2] with patches under review on LKML.

Hope this helps.

[1] https://developers.google.com/android/images-preview#hikey
[2] https://git

[2017-01-05 08:25] vishalbhoj commented on #46
Can you point me to the media files that you use for testing ?  Since we are just using s/w codecs, stuttering is expected on high resolution videos.

[2017-01-07 22:19] lecotex commented on #39
Hi guys.

Mine Polar board just arrived and even I tried to start some discussion on 96board's forum I got zero answers. I see the only one discussion is here. So far not so good :(

Yesterday I at least requested for creation some subforum on 96boards regarding Poplar. So we can move there when it will be done.

My intention is to get not Android, but simple Linux system running, of course GPLed.

[2017-01-09 05:39] zirill commented on #47
1) i switch on DragonBoard™ 410c must be set to ‘0-0-0-0’. All switches should be in “off” position
2) I connected to the TV(FHD) and it worked

PS: monitor(FHD) for some reason did not want to

[2017-01-09 07:24] zirill commented on #47
how to get access to "adb"?

[2017-01-09 07:32] vchong commented on #47
`sudo apt-get install android-tools-adb`

[2017-01-09 08:55] zirill commented on #47
ADB write that without access to the device

[2017-01-10 07:29] ProfFan commented on #39
Same here. Just got our shipment (~10s) of the poplar board from the original manufacturer and I am astonished to discover that there is almost no support! There should be a big warning on the 96boards page on this situation. We should push the vendor to **at least** push out a usable port of Debian.

[2017-01-10 07:31] ProfFan commented on #32
OpenCL support is included by installing the vendor graphics driver.

[2017-01-10 16:39] vchong commented on #47
Try sudo with the adb commands, or refer to Section 3.2 of https://developer.qualcomm.com/qfile/28828/lm80-p0436-2_sw-build-and-install_gd_linux_android.pdf.

You can only use the microusb or (regular) usb one at a time so if you have an active adb connection on the board, any mouse or keyboard connected to it will not work. See http://www.96boards.org/forums/topic/android-on-96boards-faq/#post-14

[2017-01-10 20:24] mattgorski commented on #39
At this point I just wish we had fastboot/u-boot support so we can at least test 64bit support since the device ships with 32bit android tablet :(

[2017-01-13 10:27] Graphicscore commented on #39
Any news on this ? Is it possible to build android for the poplar board already or is the source still disclosed ?

[2017-01-13 12:54] mattgorski commented on #39
Tocoding released the kernel sources to Linaro a few weeks ago but we still have heard nothing officially from them regarding a wiki for Android/Linux building.  I'm about to give up on the poplar.  Got mine in October and it just collects dust...

[2017-01-13 13:35] lecotex commented on #39
My intention is to start with kernel. Normally (means if supported by Linaro) it would take few hours of creation of dev environment and that's it!
So in our situation I'm just going to make some working kernel during weekend and will see what is going on.

[2017-01-13 14:58] mattgorski commented on #39
But the real issue is how to flash the kernel and what type of image to build? hi_kernel.bin?

[2017-01-13 15:33] lecotex commented on #39
Well, I think the first step is having own kernel running. Unfortunately I'm still stuck on it - my own compiled kernel is not starting :-( it seems like some platform specific values are set incorrectly (retrieved from net by tftp in fastboot/uboot)

[2017-01-20 11:45] leesera opened #52 "The connection between HikeyBoard and PC is not stable"
I try to set linking J15 1-2 and 3-4 pins of Board and connect the PC and my board.

and I try to find the /dev/ttyUSB0 on my PC.

But the /dev/ttyUSB0 is appeared few seconds(1~2) and then disappeared.

So when I put this command ` ./flash-all.sh /dev/ttyUSB1`
the output is like this
+----------------------+
 Serial:  /dev/ttyUSB0
 Image1:  ./l-loader.bin
 Image2:
+----------------------+

Sendin

[2017-01-21 09:43] vchong commented on #52
Note that in https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/Installation/LinuxFactoryImage.md, it is mentioned that `The HiKey board will remain in USB load mode for 90 seconds from power up. If you take longer than 90 seconds to start the install then power cycle the board before trying again.` Did you maybe wait more than 90 seconds? Also check to see if there's any

[2017-01-21 09:47] leesera commented on #52
@vchong Thank you for helping me :)
I found the reason about that situation. I used 220V power adapter for hikey board. After changing the adapter to 110V, my PC recongnizes the ttyUSB0 well.

[2017-01-22 19:36] sdrobertw commented on #52
@leesera

Has this issue been resolved?

[2017-01-22 19:37] sdrobertw commented on #43
@kettyjun

Has this issue been resolved?

[2017-01-22 19:38] sdrobertw commented on #32
@MattyBoy4444

Can we close this issue?

[2017-01-23 07:41] leesera commented on #52
@sdrobertw yes:) I will close this issue

[2017-01-23 07:41] #52 closed

[2017-01-23 11:51] rsalveti commented on #30
Make sure the spi-test is working as expected, then the setup will depend on your device and your connect. Any additional detail about your setup would already help.

[2017-01-24 02:41] vielmetti opened #53 "Docker instructions are for Docker 1.9; current release is Docker 1.13"
The docs need a refresh for Docker, as the current release is Docker 1.13 and the existing docs reference an old Docker 1.9 release.

[2017-01-24 05:05] fboudra commented on #53
none of the distribution officially supported  (Debian Jessie and CentOS 7) are shipping with 1.13.

In addition, I don't think the docker instuctions between 1.9 and 1.13 are different. How do they need a refresh?

[2017-01-24 08:11] vchong commented on #30
@cba16 Can you please check first your distro.config to see if CONFIG_SPI_SPIDEV=y? If not, please try setting it and rebuilding.

[2017-01-24 12:52] vchong commented on #30
@cba16 CONFIG_SPI_SPIDEV=m works as well, in which case you'll have to run `insmod spidev` or `modprobe spidev` before testing.

[2017-02-07 16:47] MattyBoy4444 commented on #32
I am pretty sure you can't just "get" the OpenCL driver for Mali Graphics chips.   I do not one of these boards, would someone see if they can get it and let us know?  I use ODROID and they include the OpenCL driver in their images.

[2017-02-07 18:24] daniel-thompson commented on #32
Bubblegum96 does not have MALI graphics, is has a PowerVR GPU.

AFAIK there is no GPU support (OpenGL or OpenCL) in the debian-based snapshot images for this board at http://builds.96boards.org/snapshots/ . I'm afraid I don't know that status of the ubuntu-core builds, IIRC these were produced by Canonical.

[2017-02-08 10:13] ProfFan commented on #32
@daniel-thompson OpenCL works perfectly for me on Debian after installing the drivers in https://github.com/96boards-bubblegum/s900-gpu-binary

[2017-02-08 11:02] daniel-thompson commented on #32
In truth I'd *completely* forgotten about the extra GPU repo. I only remembered that we never quite set up the CI to integrate it out-of-the-box in the debian build.

So, many thanks @ProfFan, epic news! Doubly so because I think that makes BG96 the only currently shipping 96Board that supports OpenCL without requiring Android.

[2017-02-08 15:09] jaimeyu opened #57 "Dragonboard GPT documentation is missing"
I'm looking for the documentation to the Dragonboard GPT but all the links are non functioning. Here is a google cache of the page: http://webcache.googleusercontent.com/search?q=cache:il8ZmnqIC0EJ:www.96boards.org/documentation/ConsumerEdition/DragonBoard-410c/Configuration/GPT.md/+&cd=1&hl=en&ct=clnk&gl=ca

Here is the page not working: http://www.96boards.org/documentation/ConsumerEdition/Drago

[2017-02-08 15:15] ndechesne commented on #57
the actual page seems to be here now:
http://www.96boards.org/documentation/ConsumerEdition/DragonBoard-410c/Guides/GPT.md/
I fixed the bad link in the wiki as well.
sorry about the troubles..

[2017-02-08 15:15] #57 closed

[2017-02-18 19:05] afaerber commented on #39
A .dts patch for the Poplar has recently been posted upstream by Hisilicon: https://patchwork.kernel.org/patch/9564139/

[2017-02-20 08:28] Graphicscore commented on #39
As of right now I am pretty disappointed of the support that this device got. They've said that the source for the device would be released soon after the launch of the device but as of right now, almost none of it is available....

[2017-02-20 14:27] lecotex commented on #39
@Graphicscore I have very same feeling, unfortunately. I have got the devboard about month ago and only because of releasing firmware for current device (old chip, not 4K) I wasn't able to start touching it. But w/o any, AT LEAST BASIC support, it looks like close to impossible way of work :(

[2017-02-20 14:37] afaerber commented on #39
HiSilicon just confirmed (at the link above) that U-Boot and ATF updates will be needed to run an arm64 kernel on the board. So without those we are still lost.

[2017-02-20 14:45] mattgorski commented on #39
So disappointing.  This board has sooooo much potential but is just lost without the proper 64bit support.  Time to sell mine.  I even bought the remote with high hopes.

96boards I think we need a new TV platform device.  Ditch the poplar.

[2017-02-20 14:50] Graphicscore commented on #39
We had planned to use that device in a commercial environment because we need alot of power from the cpu as well as the gpu. Guess we have to keep looking then, does somebody knows an alternative to this device ? I'm looking for a board which has fully published source code available and supports video playback for at least 2 videos simultaneously.

[2017-02-20 15:47] mattgorski commented on #39
The Nvidia Jetson TK1 is an affordable alternative with very well documented support for Android and Linux.  You can use HDMI and  DSI output at the same time.  It's only 32 bit but very powerful and now affordable at around $170-$190

[2017-02-21 09:29] Stephen-Neal commented on #39
I received this email from Tocoding this morning after I pressed for the source code. Again.

"For the source code, we have provided to Linaro many weeks ago, this time we need to wait Linaro release it and announce the information. And we are always push this action ASAP to release it to developers."

Anyone from Linaro here able to confirm this, and if true explain the delays in posting?

[2017-02-21 09:44] lecotex commented on #39
It must be somebody is playing with us = Tocoding, Linaro or Hisilicon? Even I don't trust Tocoding much (they NEVER answered my direct mails regarding Poplar support) I'm also a bit disappointed by Linaro. Why they did such announcement (soooo many moths ago!) and from that time they stayed quiet. What is going on???

[2017-02-25 09:24] #16 closed

[2017-02-25 09:25] #43 closed

[2017-02-25 19:16] sbambrough commented on #39
Linaro is working with HiSilicon and ToCoding to provide a source code release for Poplar as soon as possible. This is not yet ready for release but will provide ports of ARM TF, UEFI, and U-Boot to Poplar along with an upstream based kernel and AOSP support.  We will be providing another update at the end of April 2017 based on current progress but we do not yet have a final release date yet. Thi

[2017-02-27 15:20] afaerber opened #59 "SoC_bubblegum96.pdf is lacking chapter information"
The Actions Semi S500 manual PDF v1.5 dated 2015-11-30, as available through LeMaker, has a chapter structure so that one can jump directly to certain peripherals in a suitable PDF reader. The S900 manual v1.0 dated 2015-10-28 in this repository here is lacking such metadata and only shows page previews, making it rather hard to navigate.

Is there a chance the SoC_bubblegum96.pdf manual can be up

[2017-02-28 16:43] sdrobertw commented on #59
@afaerber  These documents are not made by Linaro/96Boards. I will do my best to find someone who can help you.

@blimjoe Are you able to shed some light on this issue?

[2017-02-28 16:48] sdrobertw commented on #47
@zirill I would like to close this issue.

Are you still having problems when flashing Android to your 96Boards?

[2017-02-28 16:52] afaerber commented on #59
@sdrobertw Sure, it's got the Actions logo and copyright on it. The commit adding this file had you as author, so hopefully you on the 96Boards side can trace where it originated from. :)

[2017-02-28 19:01] lecotex commented on #39
FYI, I just got answer on my 2 months old request regarding creation of Poplar subforum on Linaro's 96Borad. Not as speedy as needed, but anyway ...

Also I finally finished firmware for 3716cv100 so I'm moving to Poplar.
If I find something usefull, I drop msg.

[2017-03-01 17:46] luckycat889 commented on #32
I am also interested in BG and opencl on debian.
ProfFan, are you using opencl tools only from debian repos?
Perhaps, I am not the only one curious about this; would you mind, posting a super-quick howto on this?

Thanks,

[2017-03-02 08:20] ProfFan commented on #32
Maybe I will do a short blog for a summary in recent days. @luckycat889

[2017-03-06 14:59] luckycat889 commented on #32
@ProfFan, sounds good.
I sort of have everything up and running after installing s900-gpu-binary.
However, I don't see it including the headers for CL/OpenCL.h and such. It does seem to include opengl headers though

Appreciate any advice you might have,
Thanks,

[2017-03-08 08:22] #26 closed

[2017-03-09 07:30] ProfFan commented on #59
My recent experiences with UCRobotics is terrible. I tried to contact them by email and got no response. I then turned to their sales on Taobao, which promised me that their engineer will respond. Two months passed and still zero response. I am giving up on this board.

[2017-03-09 07:33] ProfFan commented on #32
@luckycat889 You can simply `apt-get install opencl-headers` to get them.

[2017-03-15 13:36] jenswi-linaro opened #60 "B2260 Hardware User Manual: broken image links"
Hi,

The links to images at https://github.com/96boards/documentation/blob/master/ConsumerEdition/B2260/HardwareDocs/HWUserManual.md are broken.

Thanks,
Jens

[2017-03-15 14:39] sdrobertw commented on #60
Thank you for reporting this issue! It has been fixed.

Have a nice day.

[2017-03-15 14:39] #60 closed

[2017-03-17 10:52] ppeiffer opened #61 "HiKey: issue starting linux kernel with Android + OP-TEE"
Hi,

I'm fighting by trying to setup and to use Android + optee on HiKey.
I tried two setup:
- Android 6.0 + kernel 4.1 + op-tee
- latest: Android 7.0 + kernel 4.9 + op-tee
I'm using Lemaker version of HiKey, (8GB eMMC, 2G of RAM). I have connected serial line on UART3
All ASOP images and op-tee compiled fine, etc.

When I run them, in both case, I can see TEE started (I have some TEE-CORE log), b

[2017-03-17 11:00] vchong commented on #61
Hi @ppeiffer,

You'd requested Android 6.0 + kernel 4.1 + op-tee previously at a different channel but this setup has bit-rotted somewhat and hard to reproduce. For Android 7.0 + kernel 4.9 + op-tee, please try https://github.com/linaro-swg/optee_android_manifest/tree/hikey-n-4.9. This was put up yesterday and might still have some kinks, so feedback is welcome.

Thanks!

[2017-03-19 09:59] crvv opened #62 "Image links in wiki page Dragonboard-410c-Installation-Guide-for-Linux-and-Android were broken"
There are two broken images in page https://github.com/96boards/documentation/wiki/Dragonboard-410c-Installation-Guide-for-Linux-and-Android

https://github.com/96boards/documentation/raw/master/ConsumerEdition/DragonBoard-410c/AdditionalDocs/Images/Wiki/image00.jpg
and
https://github.com/96boards/documentation/raw/master/ConsumerEdition/DragonBoard-410c/AdditionalDocs/Images/Wiki/image01.jpg

The

[2017-03-19 10:53] sdrobertw commented on #62
Hell @crvv - Thank you for the observation.

To be honest, this entire page (Set of instructions) should probably be forwarded to the new DB410c landing page. Most, if not all information can now be found in the subdirectories here:

https://github.com/96boards/documentation/blob/master/ConsumerEdition/DragonBoard-410c/README.md

[2017-03-19 10:56] sdrobertw commented on #62
I will run down the entire page to see if there is any additional information that should be salvaged. Otherwise, you can expect this page to be forwarded to the new landing page provided in the above comment.

Thanks again!

[2017-03-19 10:56] sdrobertw commented on #62
Can I close this issue?

[2017-03-20 06:22] crvv commented on #62
OK, I understood.

Maybe the wiki page should be deleted.

The issue can be closed.

[2017-03-20 11:15] ppeiffer commented on #61
Hi @vchong,

Yes, android 6.0 was my first willing, but without success, I switched to android 7.0 to, at least, try to have something that works first (then, I may switch back to android 6.0 & co later on).

Your setup works (!!), thanks !
I'm able to connect on the target through the serial line, xtest reports few errors that your are probably already aware of:
+---------------------------------

[2017-03-20 13:41] sdrobertw commented on #62
Thanks! I will extract any missing information and forward the page.

[2017-03-20 13:41] #62 closed

[2017-03-20 17:58] vchong commented on #61
Hi @ppeiffer you're welcome!

Just to gather data, did you try running it as root and does it make a difference?

Fixed. Thanks!

The adb and HDMI issues aren't really OP-TEE related so hopefully someone else can chip in here. Best I can offer is if you don't have access to a serial console, perhaps try adb over tcp/wifi? For the screen, please see http://www.96boards.org/documentation/ConsumerEdi

[2017-03-21 07:00] vchong commented on #61
@ppeiffer

Some update regarding adb. Please try below and then restart adb to see if it works.
[code]

[2017-03-22 14:34] ppeiffer commented on #61
Hi @vchong ,

Yes, it does. I got following results when run as root:
23512 subtests of which 4 failed
70 test cases of which 2 failed
0 test case was skipped

Indeed, it fixes the adb issue, thanks !

[2017-03-22 15:22] vchong commented on #61
Can you please list the test numbers? How old is your build? If the latest commit for `android-patchsets` is not `c50f08026f9c8c2a703efc7f70dfc38f3186a005 - Update 17177 to v6`, are you able to update (repo sync) all your repos, rebuild and run xtest again as non-root and get back with the results? Some new rules were added.

Great, but please note that now you can't do adb over tcp. This is a kno

[2017-03-23 15:12] vchong commented on #61
@ppeiffer Please NOTE if you run repo sync, you'll have to reapply all the patches again since they would be discarded under default settings, i.e. repo sync, run step 3.4 again, and then build again.

[2017-03-23 16:13] ppeiffer commented on #61
So yes, I was at commit `c50f08026f9c8c2a703efc7f70dfc38f3186a005 - Update 17177 to v6` but I did `repo sync` anyway.

The failures I got for now are on tests 6003.[12], 6004.[12], 6008.[12], 6009.[12], 60010.[12] + all from 20001 tp 20523

[2017-03-23 16:26] vchong commented on #61
Please just make sure to reapply the patches every time you repo sync.

Thanks for getting back with the results! So this running xtest NOT as root right? If so, then you can probably go ahead and proceed with what you want to do with the build. We're looking into the failures but will probably take some time. However, please note that the failures don't necessarily mean something is broken with O

[2017-03-23 16:32] ppeiffer commented on #61
Yes, I did, no worry.

Yes, correct (NOT root)

Ok to close this, thanks !

[2017-03-23 16:40] vchong commented on #61
Thanks and have fun! : )

[2017-03-23 16:40] #61 closed

[2017-03-27 04:42] Jeeppler opened #63 "SD Card Installation Guide Missing"
Hello,

for some reason there is no SD Card installation guide anymore. If am on the following page: https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/Downloads/Debian.md and click on the 'Continue to Installation page' I end up on this page: https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/Installation/README.md . However, this page does only p

[2017-03-27 12:45] vchong commented on #63
Try https://github.com/Linaro/documentation/blob/master/Reference-Platform/Releases/RPB_16.06/ConsumerEdition/HiKey/InstallDebianRPB.md#sd-card-method?

[2017-04-10 11:04] daniel-thompson opened #67 "No "edit me on github" links in the rendered documentation."
As I write http://www.96boards.org/documentation/IoTEdition/Carbon/Building/LinuxBuild/BuildShell.md/ is completely broken! I'm about to fix it... and I'm annoyed that I have to manually convert the link to take me to github.

These pages should embed a link somewhere to take interested parties to the github markdown editor... From a UI PoV I'm "expecting" a corner label an the top similar to the

[2017-04-18 06:51] codehelp opened #70 "Dead links"
The link to latest UEFI is wrong
Latest UEFI snapshot builds are published here. Download the following files:
leads to an empty directory.
http://builds.96boards.org/snapshots/hikey/linaro/uefi-openplatformpkg/latest/
?

Now skip to the Flash binaries to eMMC section. leads to a non-existent ID
https://github.com/96boards/documentation/wiki/HiKeyUEFI#flash-emmc
should be
https://github.com/96boar

[2017-04-27 06:44] tonyho commented on #39
It's near the end of the April 2017, Is the AOSP released now?  Any one knows?

If the sources/resources are released, I want to buying some Polar boards.

[2017-04-28 20:45] mattgorski commented on #39
I would love to know myself if anyone has even built an android build and if so how did they even flash with no flash tools....  Been over 6 months and this board has zero love.

[2017-05-01 21:18] Stephen-Neal commented on #39
Any news on the 25th Feb posting?  It's now gone past the end of April.

[2017-05-03 01:55] tonyho commented on #39
From the **Status of Android “AOSP” TV – BUD17-118**  presentation at Linaro Connect BUD17: [http://connect.linaro.org/resource/bud17/bud17-118/](url) , it seems that "migrate to 96Boards " is the last item of the Next 6 month plan ([See the PPT, Page 8](https://www.slideshare.net/linaroorg/bud17118-status-of-android-aosp-tv?ref=http://connect.linaro.org/resource/bud17/bud17-118/)).

Also, here, h

[2017-05-08 10:08] afaerber commented on #39
Initial U-Boot patches have arrived on u-boot mailing list on Thursday, along with a README for flashing.

[2017-05-08 13:00] wolfschus opened #72 "fastboot <wating device>"
HiKey620, Android, Ubuntu 16.04.02

when i flash with` ./flash-all.sh /dev/ttyUSB0 [4g]`
the output:

[code]
and nothing else.

syslog after connect usb again:
---8<-----------------------------------------------------
[code]

---8<-----------------------------------------------------

when i type `sudo fastboot devices -l` no devices are shown

when i type `sudo fastboot flash ptable ptable-linux

[2017-05-08 14:15] vchong commented on #72
Can you try flashing the images manually to see if it works? Guide is here: https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/Installation/LinuxFastboot.md

[2017-05-08 19:40] sbambrough commented on #39
Hello all,

For several months now, Linaro has been working together with HiSilicon to provide the community with access to source code for the Poplar board.   This week an initial drop of source code for the Poplar board, along with flashing tools and some documentation will be made available on GitHub.

The initial code drop will include source for ARM Trusted Firmware, U-Boot, and a 4.11 based

[2017-05-09 00:28] mattgorski commented on #39
This is FANTASTIC news!  So where is the GitHub source located?

On May 8, 2017 3:40 PM, "Scott Bambrough" <notifications@github.com> wrote:

[2017-05-09 05:31] wolfschus commented on #72
I start a recovery:
https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/Installation/BoardRecovery.md
`sudo python hisi-idt.py -d /dev/ttyUSB0 --img1=l-loader.bin`
is done.

when i start `sudo fastboot flash ptable ptable-linux-8g.img`, i get `< waiting for device >`

In the syslog i got this:
[code]

[2017-05-09 05:59] wolfschus commented on #72
Now I do:

`sudo apt-get remove modemmanager`

After Power-on the Board with linking 1-2 and 3-4 J601, I get in the syslog:

[code]

The I start `sudo python hisi-idt.py -d /dev/ttyUSB0 --img1=l-loader.bin`
I get:
[code]
 and in the syslog:

[code]

Then I tried: `sudo fastboot flash ptable ptable-linux-8g.img`
I get:
`< waiting for device >`

[2017-05-09 07:39] afaerber commented on #39
Matt, he said "will be", not "has been".

[2017-05-09 09:16] dlinares-linux commented on #46
Hi all.
I have just received an Hikey 620 with 2GB of RAM and I am also quite surprised of the video performance on that board for a reference platform.
I have followed the instructions from https://source.android.com/source/devices#620hikey to build from source as well as testing various pre-built images.
With all of them, when playing a 720p video from youtube/vimeo for example, some dropped fra

[2017-05-09 15:03] vchong commented on #72
Do you have access to the serial console (uart)? If so, can you please post the corresponding console output when you run commands on your pc?

Just to rule things out, please remove all other cables (mouse, keyboard) and SD card from the board. Also make sure you run hisi-idt within 90 seconds of powering up the board.

Can you also try connecting 1-2 and 5-6 on J601, boot up the board and on you

[2017-05-09 15:53] johnstultz-work commented on #46
Yes, I'm afraid what you describe is expected behavior, as we don't have access to any hardware video decoding acceleration with HiKey 620. So video decoding is done on the cpu, which overburdens it, and eventually results in thermal throttling.  This has been a pain point, so we've worked with HiSi so that the new HiKey960 will eventually have accelerated hardware decoding enabled. However, that

[2017-05-09 18:26] mattgorski commented on #39
I would guess the source will eventually pop here with a manifest ;)   Can't wait for the next update.

The u-boot commit can be found here: https://www.mail-archive.com/u-boot@lists.denx.de/msg247981.html

[2017-05-09 20:34] sbambrough commented on #39
Hi Matt,

The guys will post links to the GitHub repos and a bugzilla instance once
they have be created.

Scott

On 9 May 2017 at 14:26, Matt Gorski <notifications@github.com> wrote:

--
Scott Bambrough
Technical Director, Member Services
Linaro <http://www.linaro.org>

[2017-05-09 23:07] docularxu commented on #46
HW decoder is not available on HiKey.

[2017-05-10 04:24] sdrobertw commented on #70
@codehelp

This is a document located in the 96Boards/documentation WIKI.. I am currently working on getting all of the wiki pages checked and transitioned over to the new docs repo format though this is taking a bit.

Have you taken a look at the instructions located in the Linaro/documentation repo?

https://github.com/Linaro/documentation/blob/master/Reference-Platform/Platforms/Consumer/Previo

[2017-05-10 04:26] sdrobertw commented on #67
@daniel-thompson

This is something that @shovanuk has been working on. I will ping him to make sure we keep this on the list. I think it is urgent to have these "Edit on Github" links available at the bottom of all paged that are rendered up.

Thanks!

[2017-05-10 04:28] sdrobertw commented on #63
@Jeeppler

I will be bringing back or linking the SD Card method soon to the main HiKey doc landing page. Until then, I will leave this issue open. Thank you for the catch!

[2017-05-10 04:31] sdrobertw commented on #59
I will continue to reach out for a resolution on this issue, though it will depend on external commitment to fix.

I am going to leave the issue open for a while longer. If I am unable to find a way to get this document updated, I will have to close.

Please stay tuned.

[2017-05-10 04:31] sdrobertw commented on #59
@blimjoe

[2017-05-10 04:31] #30 closed

[2017-05-10 04:32] sdrobertw commented on #32
May we close this issue? @ProfFan @daniel-thompson @luckycat889

[2017-05-10 04:33] #47 closed

[2017-05-10 04:33] ProfFan commented on #32
LGTM

[2017-05-10 04:34] sdrobertw commented on #53
This issue has been inactive without response from @vielmetti

If you are still having a problem, please open a new issue.

Thanks!

[2017-05-10 04:34] #53 closed

[2017-05-10 04:36] sdrobertw commented on #32
Thank you, @ProfFan !

[2017-05-10 04:36] #32 closed

[2017-05-10 08:06] k3u97 commented on #59
I'm sorry that you can't get the support quickly. For Bubblegum-96, it was made by uCRobtics, use S900 from Action-Semi, about for data sheet, it's better to ask for help from SoC vendor. I'm glad to bridge the connection for you in China.

[2017-05-10 11:00] dlinares-linux commented on #46
Thanks a lot both for your fast answers.
Just by curiosity, I have installed the AndroidTV image on Hikey (http://snapshots.linaro.org/android/android-tv-hikey-n/latest/) and now, I am a bit lost...
On this image, the video playback is pretty smooth (ExoPlayer, WebBrowser and Live Channel app), even on high resolution display and playing 720p without any freeze or dropped frames.
Am I right to sti

[2017-05-10 20:45] johnstultz-work commented on #46
Hmm. That is interesting. I think you're still correct that software decoding is being used.  I'd hazard a guess the videos are possibly of different bitrates, but I can't be sure from your description. I'll follow up with the AOSPTV folks about it though.  Thanks for pointing the difference out!

[2017-05-11 03:45] johnstultz-work commented on #46
So it seems that there are some extra libstagefright_soft_* packages added in the AOSPTV builds.

These may provide some optimized software decoders that might explain the performance improvement.

I'll look into if adding these to the standard build also improves normal AOSP builds and include them if so.

Thanks again for pointing this out!

[2017-05-11 05:47] wolfschus commented on #72
1. I  sniffed the /dev/ttyUSB0 Device while I do the command `sudo python hisi-idt.py -d /dev/ttyUSB0 --img1=l-loader.bin`

read:
[code]
write:
Nothing ???

[2017-05-11 05:51] wolfschus commented on #72
2. I do it so, no change

3. `sudo fastboot devices` -> Nothing

4. I use the 8g-img, but fastboot don't work because it cannot find the device

[2017-05-11 05:54] vchong commented on #72
Are you using python 3? If so, maybe try with python 2.7. For details, refer to Problems with Python Downloader section in https://github.com/96boards/documentation/wiki/LatestSnapshots. Also want to make sure you're using an actual linux machine and not a virtual one hosted by windows/osx?

[2017-05-11 05:56] wolfschus commented on #72
I am using python 2.7.
I am using Ubuntu 16.04.02 LTE on a Hardwaremachine.
Is it possible, that the Board is broken?

[2017-05-11 06:12] vchong commented on #72
Possibly. Can't really tell for sure. :( It would be nice if you can access the serial console to see if anything else is going on. Maybe try a different microusb-usb cable and pc and even power supply (if available)? Or try to install new images using the SD card - https://github.com/Linaro/documentation/blob/master/Reference-Platform/Releases/RPB_16.06/ConsumerEdition/HiKey/InstallDebianRPB.md#s

[2017-05-11 06:14] wolfschus commented on #72
ok, I will test it. I get yesterday also a new HiKey960-Board. I will test it with this today.

Thanx for your great support :1st_place_medal:

[2017-05-13 13:03] gvalante commented on #39
Hello all,

The initial source code drop for the Poplar board is now available on GitHub.com/Linaro.

This drop includes source for ARM Trusted Firmware, U-Boot, and a 4.11 based upstream kernel along with documentation on how to build the software and tools to flash it to the Poplar board.

This release of source code, tools and documentation provides:
- The ability to boot in 64-bit mode.
- Cons

[2017-05-15 22:40] johnstultz-work commented on #46
dlinares-linux: I've submitted the following to AOSP:
https://android-review.googlesource.com/#/c/394733/

This seems to improve things slightly in my testing. But if you could confirm it resolves the difference for you, I'd appreciate it!

thanks
-john

[2017-05-18 11:01] shovanuk commented on #67
@daniel-thompson http://www.96boards.org/documentation/IoTEdition/Carbon/Building/LinuxBuild/BuildShell.md/ works for me. The links within the pages open for me, can you point me to the right place?

Thanks

[2017-05-18 11:19] daniel-thompson commented on #67
Hi Shovan

This bug is not about broken links. It is about the pain I endured when I fixed them.

Basically IMHO *every* generated page should contain a link back to the github source material encouraging the reader to "Edit me on github" if they find any problems.

I'm well connected to 96Boards so I knew (more or less by osmosis) that if I went grubbing about on some random github project I woul

[2017-05-18 14:48] sdrobertw commented on #67
@shovanuk

We have talked about this in the past. There needs to be an "Edit me on Github" link at the bottom of each GitHub rendered page on the website... I could add this to the doc/.md file it self but when it would seem misplaced for those who only use GitHub and do not use the site.

Does this make sense?

[2017-05-22 06:08] idlethread commented on #67
Misplaced as in extraneous? If so, it should be OK as long as the behaviour
is consistent - clicking takes you to the editor on github. Perhaps you can
convert one page to show what you don't like?

On Thu, May 18, 2017 at 8:18 PM, Robert Wolff <notifications@github.com>
wrote:

[2017-05-25 18:03] afaerber commented on #39
Has anyone tried this yet? On my board there is neither a scriptaddr environment variable defined nor is there a source command available to run the install.scr script...

[2017-05-25 18:05] ldts commented on #39
can you make it to the u-boot shell?

[2017-05-25 18:08] afaerber commented on #39
Yes, I can make it to the first `mmc write` command in the install.scr script by using 0x01000000 in place of ${scriptaddr}. It seems to expect the device number (0) instead of the address.

[2017-05-25 18:26] ldts commented on #39
@afaerber does your uboot shell gives you a #poplar prompt or are you booting in the old #fastboot? I suspect you might not be booting into the new uboot. Could you confirm that you are following this README please ? https://github.com/ldts/poplar-u-boot/blob/upstream/board/hisilicon/poplar/README

[2017-05-25 18:27] afaerber commented on #39
Confirming that by inserting the missing `0` flashing worked, and it boots, too.

For anyone lazy, I've packaged my bootloader binaries here: https://build.opensuse.org/project/show/devel:ARM:Factory:Contrib:Poplar
U-Boot is openSUSE's v2017.05 plus the v4 Poplar patchset.

In order to use an openSUSE .tbz rootfs instead of Debian .tar.gz I had to patch the shell script, and I also noticed a bug i

[2017-05-25 18:29] afaerber commented on #39
@ldts I was following https://github.com/Linaro/poplar-tools/blob/latest/build_instructions.md which is linked to from https://github.com/96boards/documentation/blob/master/EnterpriseEdition/Poplar/BuildSource/README.md!

[2017-05-25 18:31] ldts commented on #39
yep that contains more detail;  I was just concerned that you might not be using the new uboot since scriptaddr is already set to 0x32000000.

[2017-05-25 18:45] afaerber commented on #39
The newly built and flashed U-Boot has a `poplar#` prompt, `scriptaddr=0x32000000`, a `source` command and an `mmc write` command with only three parameters: `mmc write addr blk# cnt`

The original Poplar U-Boot, from which I and others here need to install the new U-Boot, has `fastboot#`, no `scriptaddr` variable, no `source` command, and an `mmc write` command with four parameters: `mmc write <d

[2017-05-25 18:48] ldts commented on #39
@afaerber

yes to upgrade from the original poplar u-boot the easiest way is to write the new one in a USB stick and boot from it (I tried to document that in the u-boot README).

Also you should get this change below:
https://github.com/ldts/poplar-u-boot/blob/upstream/board/hisilicon/poplar/poplar.c#L57

It carves the memory needed by ATF (PSCI).

I'll submit it in v5.

[2017-05-25 19:27] afaerber commented on #39
With Jorge's help we've figured out that the documentation misses to mention that one should press the USB_BOOT button (S3) on power up, so that it uses the new instead of the old U-Boot.

[2017-05-25 19:42] gvalante commented on #39
Hello;
I was trying the same thing and knew about the button, but didn't see it in the directions.  Fixing it now.

Thanks,

[2017-05-25 19:46] ldts commented on #39
@gvalante I pinged Robert in IRC about it as well.

[2017-05-29 13:20] cz172638 opened #76 "poplar - missing info what mfg:pn is used for j14, j15"
i can't identify which manufacturer and which partnumber is used for non-standard jtag and uart connectors:<br/>
 j14 (jtag - SDW12501A_8A_HW in schematics) and <br/>
 j15 - (uart - SDW12501_4A_HW).<br/>
bill of material for poplar whould be nice, or list of appropriate headers for all connectors used in poplar.

[2017-05-29 18:26] afaerber commented on #39
@sdrobertw Given Glen's announcement and the fixed poplar-tools build instructions, I think you can close this issue now.

[2017-05-29 18:57] sdrobertw commented on #39
Thanks, @afaerber

I will close the issue now.

[2017-05-29 18:57] #39 closed

[2017-06-08 04:54] wolfschus commented on #72
No Problems with the new Board. I think, the old board had a defect.

[2017-06-08 04:54] #72 closed

[2017-06-13 16:26] shovanuk commented on #70
@sdrobertw Couple more dead links on this page
https://github.com/96boards/documentation/blob/master/ConsumerEdition/DragonBoard-410c/Downloads/OpenEmbedded.md

[2017-06-13 16:36] sdrobertw commented on #70
@shovanuk nothing broken on my end on that page.

[2017-06-14 09:02] shovanuk commented on #70
Seems to work now :)

[2017-06-14 09:02] #70 closed

[2017-06-15 11:23] ubitux commented on #63
I tried to `dd` the sdcard image from http://builds.96boards.org/releases/reference-platform/debian/hikey/16.06/ as suggested by the Linaro link shared, but it doesn't seem to be enough. The sdcard is not bootable, and there is nothing on the serial interfaces (nor HDMI fwiw) after the grub menu.

I'm looking forward information wrt SD card, because it's extremely painful to work with the emmc.

[2017-06-20 20:42] sherrellbc opened #77 "Build instructions are not sufficient due to many missing files"
Attempting to build from source using the steps as defined [here](https://github.com/96boards/documentation/wiki/HiKeyUEFI#source-code) is no longer sufficient. I have not quite made it so far to test anything other than building EDK. Using the recommended build command:

`../uefi-tools/uefi-build.sh -c ../LinaroPkg/platforms.config -b RELEASE -a ../arm-trusted-firmware -s ../optee_os hikey`

The

[2017-06-23 08:55] vchong commented on #77
@sherrellbc That wiki is outdated. You can still follow it to install the custom toolchain, which is required. Then:

UEFI_TOOLS_GIT_URL=https://git.linaro.org/uefi/uefi-tools.git
UEFI_TOOLS_GIT_BRANCH=master
    EDK2_GIT_URL=https://github.com/96boards-hikey/edk2.git
    EDK2_GIT_VERSION="origin/hikey-aosp"
    ATF_GIT_URL=https://github.com/96boards-hikey/arm-trusted-firmware.git
    ATF_GIT_VER

[2017-06-23 14:00] sherrellbc commented on #77
@vchong
These updates seem to _almost_ work. I had to remove the `${WORKSPACE}` and `${BUILD_NUMBER}` references; I just replaced both with one `${PWD}`.

The first compilation error I mentioned is still a problem (but manually fixable)
[code]

The master branch of `l-loader` does not have a `debug.S`, so the final binary will not be generated. The following commands will fail:

[code]

I just rem

[2017-06-23 14:44] vchong commented on #77
Ah sorry, copy paste error. I've updated the instructions.

Regarding l-loader, I understand your confusion, but I believe that the program is small enough that as long as you manage to get it to build, you can use any one of the methods that worked for you.

Actually (and hopefully this doesn't add to the confusion :s) I just remembered there's a 'newer' set of instructions here: https://github.c

[2017-06-23 16:06] sherrellbc commented on #77
@vchong Perfect. Thanks for the updates! I've a bit of trouble flashing the device (HiKey) properly, though. It seems the flasher is a bit unreliable. Once it failed, the second time completed properly by the filesystem was damaged, and then a third time it succeeded and I was able to boot (but still with a few `fsck`-related errors in the boot log).

However, the build documentation works as expe

[2017-06-23 16:41] vchong commented on #77
Are you flashing from what we call 'uefi' mode, i.e. jumpers 1-2 5-6 closed? For flashing the system/rootfs, flashing from 'recovery' mode, i.e. jumpers 1-2 3-4 closed seems to be much better. The only thing is you've to go through the trouble of running hisi-idt first, i.e.

$ sudo python hisi-idt.py -d /dev/ttyUSB0 --img1=l-loader.bin (again, remember ttyUSB* can change)
$ sudo fastboot flash pt

[2017-07-10 06:37] tonyho opened #85 "AOSP build for DragonBoard 410C is not working now"
I repo sync and build the AOSP, it failed for some dependence chaged. Below is how to fix them:
1. compositor
In external/drm_hwcompositor/Android.mk, Add following line to the LOCAL_C_INCLUDES:
	external/drm_gralloc \

This is caused by the drm_hwcompositor changes the drm to grm

2. Append the CFlags for libdrm
Add following to external/libdrm/Android.mk to fix the compile error, for the mix dec

[2017-07-21 08:48] daniel-thompson opened #93 "Relative links are not being exported correctly"
Just been talking to @lag-linaro .

Lee spotted a bunch of broken links in the 96Boards documentation and it turns out this is a bug in the way we are converting the markdown forest into HTML.

Specifically the HTML file for filename.md is placed into filename.md/index.html. This is a clever trick to allow direct links to .md filenames to work but breaks a number of links because ../ is not being

[2017-07-21 10:38] shovanuk opened #94 "Mezzanine Products URL"
Hi Robert,

Do you want to change the perma link of Mezzanine product?

permalink: /documentation/MezzanineProducts/ <<-- Current
permalink: /documentation/mezzanine-docs/ <<-- Requested

Thanks
Shovan

[2017-07-21 13:12] sdrobertw commented on #94
Yes

Sent from my iPhone

[2017-07-21 13:13] sdrobertw commented on #94
I want the link to be mezzanine-docs I am trying to transition to all lower case in the most subtle way possible over the course of the next year >.<

Sent from my iPhone

[2017-07-24 14:20] shovanuk commented on #93
@daniel-thompson this issue is now fixed. Please open private window and try navigating from this page http://www.96boards.org/documentation/ConsumerEdition/HiKey/Downloads/

Thanks
Shovan

[2017-07-24 14:20] #93 closed

[2017-07-24 14:22] shovanuk commented on #94
Cool,

Make sure you have old links in the redirect section

[code]

Thanks
Shovan

[2017-07-24 14:22] #94 closed

[2017-07-24 15:04] daniel-thompson opened #97 "Broken navlink at the top of every page"
Hi @shovanuk

Out of curiosity I ran a broken link checker across the static documentation...

I think it found a couple of real problems but it is hard to tell because there was so much noise. The noise comes because each generated page contains a broken link to itself as part of the generate navigation links.

For example:

http://www.96boards.org/documentation/ConsumerEdition/Bubblegum-96/Getti

[2017-07-24 15:06] shovanuk commented on #97
@kylekirkby and I will check and get back

[2017-07-25 13:20] shovanuk commented on #97
@kylekirkby check
http://www.96boards.org/documentation/IoTEdition/carbon/installation/

Click on Downloads or Build its broken

[2017-07-25 13:24] shovanuk opened #99 "Github Broken Links"
@sdrobertw

https://github.com/96boards/documentation/tree/master/IoTEdition/nitrogen/build/LinuxBuild
How to build the disco Zephyr application from source << this is broken

--
Let's keep this issue open to track all the broken links

[2017-07-26 10:11] sdrobertw commented on #99
fixed

[2017-07-26 10:11] #99 closed

[2017-07-26 10:13] sdrobertw commented on #97
@shovanuk Downloads and Build links have been fixed on back end: http://www.96boards.org/documentation/IoTEdition/carbon/installation/

[2017-08-02 11:02] ProfFan opened #110 "Bubblegum 96 kernel update breaks Linaro CI builds"
The latest update on the vendor kernel repo broke the Linaro CI build. See https://ci.linaro.org/job/96boards-bubblegum/17/

[2017-08-02 15:26] sdrobertw commented on #97
@shovanuk @kylekirkby has this been fixed? Can we close this issue?

[2017-08-04 16:31] kylekirkby opened #115 "Two broken links ConsumerEdition Documentation"
https://www.96boards.org/documentation/ConsumerEdition/ there are two broken links above the main table - **Compare 96Boards** and **96Boards CE Extras.**

[2017-08-21 09:29] #115 closed

[2017-08-21 09:33] shovanuk commented on #97
@kylekirkby @sdrobertw

1. Board Recovery link is broken
http://www.96boards.org/documentation/ConsumerEdition/Bubblegum-96/GettingStarted/

2. Power Adapter has not been linked from anywhere but the formating is off
http://www.96boards.org/documentation/ConsumerEdition/Bubblegum-96/GettingStarted/PowerAdapter.md

[2017-08-22 05:13] sdrobertw commented on #77
@vchong , what is the status of this issue?

Can we label and/or close? Please :)

Thanks!

[2017-08-22 08:07] kylekirkby opened #122 "Final Broken Links before Workflow"
There seems to be a couple of missing files for Bubblgum96 docs. Below is the output for the link checker regarding these missing files. I can fix if I know where the files are. Once these are fixed we can go ahead and get the CI turned on.

/documentation/ConsumerEdition/Bubblegum-96/GettingStarted/index.html -- Source
/documentation/ConsumerEdition/Bubblegum-96/GettingStarted/MonitorHDMI.md -- D

[2017-08-22 08:38] #77 closed

[2017-08-22 14:38] sdrobertw commented on #122
@kylekirkby : I want to remove all of those files except the BoardRecovery.md

There will be no use (right now) to "recommend" key boards etc... on each individual page but rather in the accessories section of the website.

Let me look further into this.

[2017-08-22 14:39] sdrobertw commented on #46
@johnstultz-work @docularxu

Can we close this issue?

[2017-08-22 14:40] sdrobertw commented on #59
Thank you, @k3u97 . I have to agree. I tried tagging @blimjoe to see if he could add more information.

I will do my best to monitor and make improvements to the Bubblegum-96 docs section.

May we close this issue?

[2017-08-22 14:41] sdrobertw commented on #63
[UPDATE]

We are still trying to get the HiKey SD Card image and instructions working and updated. We hope to have this ready by mid Sept 2017.

Thanks!

[2017-08-22 14:42] sdrobertw commented on #67
@kylekirkby @shovanuk

Any update on this?

[2017-08-22 15:05] kylekirkby commented on #67
We have a project for 96boards Static Site here - https://projects.linaro.org/browse/MAR-221. This is one of the issues that are on that list. I will make sure this gets done first out of all feature requests/ bug fixes.

Thanks

[2017-08-22 15:07] kylekirkby commented on #122
The Link Checker is currently "turned on" in the bamboo CI build. This means that if that are any broken links at all that the LinkChecker has found the site build will fail. Can we remove the links for now so the builds can run successfully?

[2017-08-22 16:47] sdrobertw commented on #67
Thanks, @kylekirkby

Once it rolls out, we can close this issue.

[2017-08-22 19:09] johnstultz-work commented on #46
As far as I'm aware...

[2017-08-22 19:09] #46 closed

[2017-08-25 08:37] loicpoulain opened #124 "Dead link on 96boards/Hikey (Lemaker)"
At http://www.96boards.org/product/hikey/

bottom page link is broken:
Please visit the HiKey Hardware User Manual for more information

pointing to:
https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/AdditionalDocs/UserManual.md

instead of this one (I assume):
https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/AdditionalDocs/HardwareUserManual.md

[2017-08-28 09:21] loicpoulain opened #126 "Buffer overflow in toggly code sample"
In the Linux User Guide for Dragon Board (P22/26):
https://github.com/96boards/documentation/blob/master/ConsumerEdition/DragonBoard-410c/Guides/LinuxUserGuide_DragonBoard.pdf

The toggly src code define MAX_BUF as 10 bytes.
However this define is used to allocate buffers which need more memory in Write_GPIO and Read_GPIO functions. (snprintf).

This leads to stack corruption for the sample but al

[2017-08-28 09:51] Mani-Sadhasivam commented on #126
@loicpoulain Agree with you. Probably that was due to bad coding practice I'd say.

Thanks for pointing out.

@sdrobertw Any way to update the doc?

[2017-08-28 13:56] sdrobertw commented on #126
@loicpoulain

This user guide was written by a third party and provided to us by a partner. This is the exact reason why I do not like static documentation as we do no own the raw doc. If you feel like having some doc run, it would be really cool to turn that small section of the user guide into an individual doc (markdown) within the DB410c "guides" section.

https://github.com/96boards/documenta

[2017-08-29 08:37] loicpoulain commented on #126
@sdrobertw

I agree, but what about updating the pdf value as a short term fix.
https://github.com/96boards/documentation/pull/127

[2017-08-30 20:47] sdrobertw commented on #126
@loicpoulain

I have accepted your PR, can we please close this issue if you feel it has been resolved.

Thanks!

[2017-08-31 18:15] #126 closed

[2017-09-06 06:37] mipsan opened #129 "repo sync fault!"
during **repo sync**, following failure occurred !
I tried couple of times and got same errors.
reference: https://github.com/96boards/documentation/wiki/RPB-AOSP-DragonBoard410c-Build

[code]
This error is retured at " `repo sync -j8`" command.

Thanks,

[2017-09-06 11:03] daniel-thompson commented on #129
Is this the entire repo sync output? Google translate does suggest any of the supplied text is an error message...

If you are getting errors it would be better to run "repo sync" without the "-j8" since it will reduce the amount of parallel activity (which it turn should make error messages more obvious). Can you re-run and share the full output.

[2017-09-07 11:38] mipsan commented on #129
Thanks Daniel,

I tried same job as you said, without '-j8' option.
But same error occurred at different time as follow;
[code]
This log was cut only several lines at the end.

I would like to run self-built Android M on DB410c indeed,
but any kind of instructions did not help me.

Any other advice?

[2017-09-08 11:30] daniel-thompson commented on #129
Still, in part, I suggest trying to switch repo into English. You mentioned you are *not* seeing a clear error report and I wonder it there might be some problem with the i18n.

I know this because I *do* get a clear error report:

    Fetching projects:  99% (462/466)  fatal: remote error: access denied or repository not exported: /gitroot/android-x86/platform/external/libpciaccess
    error: Can

[2017-09-12 04:25] mipsan commented on #129
Thanks Daniel,
To build, I modified `.repo/local_manifests/linaro.xml` as your diff.
Build job was done with couple of further modifications and running build command several times.
Finally, I've got 7 img files,  that is,
[code]

While flash fusing these img files through fastboot, system.img and userdata.img return fastboot fail and fastboot crashes..

Should I redefine partition for this target

[2017-09-12 09:47] daniel-thompson commented on #129
What version of the bootloader do you have installed? I suspect this release would have been tested with: http://builds.96boards.org/releases/dragonboard410c/linaro/rescue/16.06/dragonboard410c_bootloader_emmc_android-50.zip

[2017-09-12 23:08] mipsan commented on #129
![image](https://user-images.githubusercontent.com/3205851/30352287-231a0794-985a-11e7-8b7c-1293a37c8870.png)

After installation dragonboard410c_bootloader_emmc_android-50.zip,
when I try to fuse userdata.img and system.img, fastboot crashed with this error message on terminal.

Then, I'm re-building whole source tree to try once more.

[2017-09-13 21:20] bbusacker commented on #63
@sdrobertw Are we on track for mid September?  SD card support and docs?

[2017-09-18 13:59] daniel-thompson commented on #129
Any news here?

What does the file command say about the images.

For example:

    wychelm$ file system.img
    system.img: Android sparse image, version: 1.0, Total of 314554 4096-byte output blocks in 2809 input chunks.
    wychelm$ file userdata.img
    userdata.img: Android sparse image, version: 1.0, Total of 1310720 4096-byte output blocks in 203 input chunks.

[2017-09-19 01:45] mipsan commented on #129
Thanks Daniel,

I attach the result;

[code]

[2017-09-19 15:32] daniel-thompson commented on #129
Interesting that these are not sparse images. Having said that fastboot should handle raw images like this automatically. How old if the version of fastboot you are using?

[2017-10-02 09:18] heeleyth opened #135 "Op-TEE Support for Poplar Board."
Hi

Any plans to add Op-TEE support for Poplar board?
And if yes any idea of the expected time frame.

Tom.

[2017-10-02 14:21] daniel-thompson commented on #135
Is there any problem with the documentation here?

Sounds like this is better discussed on the forum: https://discuss.96boards.org/t/tee-os-on-poplar/2861

[2017-10-02 14:37] heeleyth commented on #135
Thanks for the link.

No problem with documentation my fault for using wrong forum.

My excuse very minor ref to op-tee on this https://github.com/96boards/documentation/issues/39

Closing the comment

[2017-10-02 14:37] #135 closed

[2017-10-02 15:17] daniel-thompson commented on #135
No worries. Regarding #39: to be honest in the past we've been a bit too liberal in the tickets we leave open against the docs.

[2017-10-09 01:57] hipboi opened #139 "pdf damaged"
`documentation/Addenda/96BoardsCESpecification-CameraModuleInterfaceAddendum.pdf`

This file is damaged, I can not preview online. Neither can open it after download file.

[2017-10-09 06:06] sdrobertw commented on #139
Thank you @hipboi for pointing this out.

I will look into this and try to provide an update.

[2017-10-09 07:53] Mani-Sadhasivam commented on #110
@fboudra . Can you please look into it?

[2017-10-09 08:29] daniel-thompson commented on #110
It is possible to do plenty of triage first without help from B&B... jenkins is pretty transparent and we can see most of what we need in the "Console output".

So...

AFAICT the build failure occurs because the vendor kernel has no bindeb-pkg rule. After a little digging with  git blame and git describe we can tell that this is hardly surprising, the vendor kernel is v3.10 based and the bindeb-pk

[2017-10-09 08:41] Mani-Sadhasivam commented on #124
@loicpoulain Product page has been updated. Can we please close this issue?

[2017-10-09 08:42] fboudra commented on #110
I recommend to backport the changes from latest code in mainline. It's pretty straight forward.

[2017-10-09 08:46] Mani-Sadhasivam commented on #122
@sdrobertw It'd be good if someone works on board recovery guide for bubblegum. Maybe I can take up this?

[2017-10-09 08:52] loicpoulain commented on #124
Sure, thanks

[2017-10-09 08:52] #124 closed

[2017-10-09 20:55] sdrobertw commented on #139
This should be fixed now, @hipboi

Please close the issue, if you are satisfied. Thanks!

[2017-10-10 00:56] hipboi commented on #139
Thanks.

[2017-10-10 00:56] #139 closed

[2017-10-16 11:10] kylekirkby opened #148 "URL Changes"
There has been a recent permalink change that has subsequently broken the build as many other pages are using the old permalink still. In the future can we make sure that any permalink changes are submitted as a Pull Request and approved by either @shovanuk or myself so we can double check it before merging?

Many Thanks,

Kyle

[2017-10-17 08:35] kylekirkby opened #150 "Broken link on B2260 Debian Documentation Page"
https://github.com/96boards/documentation/tree/master/ConsumerEdition/B2260/Downloads/Debian.md is linking to http://builds.96boards.org/snapshots/b2260/linaro/debian/latest/b2260-jessie_alip_*.img.gz and http://builds.96boards.org/snapshots/b2260/linaro/debian/latest/b2260-jessie_developer_*.img.gz which no longer exists. Are there suitable replacements available for these?

Many Thanks,

Kyle

[2017-10-18 10:32] daniel-thompson commented on #150
This is similar to issues on other 96Boards. If the teams that wrote the software move to other things without issuing an official release then the links in the docs break when the reaper cleans out the old snapshots.

We can solve this either by making the reaper less aggressive or reducing the barriers to making official releases (so we never need to link to snapshots in the documentation). I ac

[2017-10-27 20:00] sdrobertw commented on #59
@k3u97 @blimjoe

This issue will be closed by EoW due to inactivity. If you are still experiencing a problem, please open a new issue.

Thanks!

[2017-10-27 20:02] sdrobertw commented on #63
@bbusacker Still working on this issue. Unfortunately the SD method of installation has gone stale and support for it is also lacking. I am trying to muster the resources to do as many test in order to get a new set of instructions on onto the repo...

@Mani-Sadhasivam @ric96 : please help in pursuing a working SD Card image for the HiKey6220 with working instructions. We will want to add this to

[2017-10-27 20:03] sdrobertw commented on #67
This has been addressed. Most pages on 96Boards.org website now have "Edit me on GitHub" options with links to the appropriate GitHub page for editing.

Great work @shovanuk and @kylekirkby , thanks for doing this!

Closing issue.

[2017-10-27 20:03] #67 closed

[2017-10-27 20:05] sdrobertw commented on #76
@alexelder @daniel-thompson @ric96 @vchong

Any help on this one?

[2017-10-27 20:06] sdrobertw commented on #85
@ric96 @Mani-Sadhasivam

any advice for this one?

[2017-10-27 20:08] sdrobertw commented on #148
@kylekirkby @shovanuk

Yes, good observation.

Any permalink changes will have you tagged to make sure nothing breaks.

[2017-10-27 20:08] #148 closed

[2017-10-28 00:20] ric96 commented on #85
This is a guide based on Rob Herring's work, https://github.com/robherring/generic_device
I think this issue was resolved, but if you are still facing it open up an issue in the above linked repo.

[2017-10-30 09:39] daniel-thompson commented on #76
This thread is a cross post from the forum:
https://discuss.96boards.org/t/identity-of-sdw12501-connectors/1965/3

Appears to have been answered there.

[2017-10-30 09:39] #76 closed

[2017-10-30 09:42] shovanuk opened #172 "Comments on Documentation"
Hay,

I am thinking of adding a comment section to documentation pages [1] (Like how we have on Blog[2]). This will encourage the community to discuss on particular docs and help us improve them.

What do you say?

[1] https://www.96boards.org/documentation/IoTEdition/carbon/getting-started/
[2] https://www.96boards.org/blog/basic-threads-zephyr/

Thanks
Shovan

[2017-10-30 09:44] kylekirkby commented on #150
Hi all, the above links were fixed by replacing jessie with stretch. There have been a couple more broken links found relating to OS images on builds.96boards.org. The following are returning a 404.

29-Oct-2017 19:49:17 | ./documentation/ConsumerEdition/B2260/Downloads/OpenEmbedded.md.html, http://builds.96boards.org/snapshots/reference-platform/openembedded/jethro/stih410-b2260/rpb-wayland/lates

[2017-10-30 09:54] daniel-thompson commented on #172
On 30/10/17 09:42, Shovan wrote:

I'd rather enrich the "Edit on github" bits by adding automatic "Report
an problem with this page" that also link properly into github:

https://github.com/96boards/documentation/issues/new?title=Problem%20with%20ConsumerEdition/HiKey/README.md&body=Let%27s%20write%20some%20text%20to%20ensure%20we%20get%20bug%20reports,%20not%20things%20that%20should%20be%20discus

[2017-10-30 09:56] shovanuk commented on #172
@daniel-thompson nice one, we can add the feature in

[2017-11-01 10:59] daniel-thompson opened #175 "Odd advice in ConsumerEdition/guides/open_embedded.md"
ConsumerEdition/guides/open_embedded.md  contains the following recommendation:

This is terrible advice. Adding the main repo on a debian jessie system is redundant; whilst adding it to an ubuntu or debian stretch system is crazy.

This text also deviates significantly from the upstream documentation this guide was copied from (I also have a question... is there a plan to keep this guide synchron

[2017-11-01 11:38] Mani-Sadhasivam commented on #175
@daniel-thompson I have to admit that I overlooked the package dependencies section. And I believe it has to be in sync with the Reference Platform guide. Let me change it.

Also, in the RP guide there is a section about creating Mixed RFS image, which we removed in our guide after discussing with @fboudra. Should it be removed there also?

Thanks for spotting!

[2017-11-01 11:44] daniel-thompson commented on #175
No opinion on that one... I mostly spotted this issue because I noticed we were maintaining two nearly identical docs and what the process was to prevent them diverging. Perhaps you could just set a watch of some sort on the upstream page (as it happens a change of mine hit the upstream page yesterday).

[2017-11-01 11:54] Mani-Sadhasivam commented on #175
Sure. Will do.

#176 addresses this issue.

Thanks once again!

[2017-11-02 08:24] ndechesne commented on #175
d'oh.. i am seeing that now.. can someone please fix the duplication issue? it is really wrong to duplicate documentation. Doing documentation is hard and painful, and duplicating it just makes everything worse. It is fine if someone wants to reorganize things (for the better), but when doing so, please talk to the people who contributed the doc first, and let's plan for the migration.

doc is imp

[2017-11-08 04:07] Martin2kid opened #177 "Link is missing"
"git clone https://git.linaro.org/landing-teams/working/qualcomm/db-boot-tools.git" is not appear linking

[2017-11-08 04:27] sdrobertw commented on #177
@Martin2kid Could you please be more specific with this issue.

i.e. where is this instruction located?

Thank you.

[2017-11-08 04:50] Martin2kid commented on #177
Robert,

It’s from here "https://github.com/96boards/documentation/blob/master/ConsumerEdition/DragonBoard-410c/Guides/bootable-sd-card.md”
As I underlined follow;

Section 2) Partition SD card

To create the bootable SD card:

$ unzip -d qcom_bootloaders dragonboard410c_bootloader_sd_linux.zip
$ git clone https://git.linaro.org/landing-teams/working/qualcomm/db-boot-tools.git
$ cd db-boot-tools
$

[2017-11-08 04:59] sdrobertw commented on #177
Thank you, @Martin2kid !

This guide belongs to @ric96 - I will assign him to this issue. Please keep your eyes on this issue for updates.

[2017-11-08 05:14] Martin2kid commented on #177
Robert,

Also, this link or site is not working anymore.
"https://github.com/96boards/projects/tree/master/home_surveillance/part-2#22-package-dependencies”
and that link is from this page "https://discuss.96boards.org/t/opencv-3-2-install-dependencies-error/2139”
from here; (here)

[cid:02E5DB82-76C0-4CFF-9B85-CE6C6C1DED3B@fios-router.home]<https://discuss.96boards.org/u/Mani>
Mani<https://discus

[2017-11-08 05:43] Mani-Sadhasivam commented on #177
Hi @Martin2kid ,

Regarding the issue with Creating bootable SD card guide, the below link which you have pointed out is working fine for me:

git clone https://git.linaro.org/landing-teams/working/qualcomm/db-boot-tools.git

For the issue with Home Surveillance project, we have migrated all our projects to new [96Boards Project Org](https://github.com/96boards-projects/home_surveillance).

You ca

[2017-11-08 06:05] Martin2kid commented on #177
Mani,

Robert messaged me to find out details about that link earlier, and I sent him the site of origin of that link.
I see it works now.
I’m just impressed how fast you guys respond and I really appreciated!!!

Thank you,

Martin

On Nov 8, 2017, at 12:43 AM, Manivannan Sadhasivam <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @Martin2kid<https://github.com/martin2kid> ,

[2017-11-08 06:20] Mani-Sadhasivam commented on #177
Thanks @Martin2kid :-)

Glad your issue is resolved. Please come to us and ask questions in relevant areas (documentation, forums, OpenHours). We are happy to help you.

Hope you will have nice experience with 96Boards.

[2017-11-09 02:40] handelxh opened #183 "Dose MTK X20 support Android8.0"
Dose MTK X20 support Android8.0?

[2017-11-09 09:09] daniel-thompson commented on #183
Probably better to ask questions like this on the forum: https://discuss.96boards.org/

However, no Android 8 is not support. The images are Android 6.

[2017-11-09 09:09] #183 closed

[2017-11-09 09:23] #177 closed

[2017-11-09 09:24] #59 closed

[2017-11-09 09:24] #85 closed

[2017-11-13 11:06] vishalashapur opened #185 "Problem with ConsumerEdition/HiKey960/Downloads/README.md"
Hi, I built aosp from source for hikey960. now i want to flash those images and i know how to flash. but my doubt is already hikey 960 board has builtin image of aosp. if i flash my new images will they work correctly or what happens to old image?

[2017-11-13 12:29] daniel-thompson commented on #185
This kind of question really is better asked on the forum: https://discuss.96boards.org/ . While some questions do arise from inadequate documentation I'm not sure that this the case here, as far as I am aware the instructions on how to flash do work correctly (e.g. they overwrite the previous image).

[2017-11-13 12:29] #185 closed

[2017-11-14 16:21] daniel-thompson opened #187 "Problem with ConsumerEdition/DragonBoard-410c/Guides/EnableSPI.md"
This guide is rather misleading with respect to versioning.

Firstly, 16.06 is ancient; at very least this should be 16.06 or later.

Secondly "LT" is jargon. How is a user supposed to know what this means?

[2017-11-15 12:00] daniel-thompson opened #188 "Problem with ConsumerEdition/MediaTekX20/Downloads/ThirdParty/AOSP/LinuxFastboot.md"
`fastboot flash gpt PGPT` does not work on this platform. See https://discuss.96boards.org/t/flash-gpt-keeps-failing/3357 .

[2017-11-15 12:23] daniel-thompson opened #189 "Add OpenEmbedded to ConsumerEdition/HiKey960/Downloads/README.md"
On the forum users are being pointed at OE/RPB binary snapshots. I know these are only snapshots (OpenEmbedded being primarily build-from-source) but without any documentation its what people tend to get pointed at.

Personally I think pointing users at the binary snapshots is a mistake; the images are useful for testing but it tends to lead them to have extremely incorrect expectations of what th

[2017-11-15 12:30] daniel-thompson commented on #189
"this" meaning the page in the title of the bug report (nothing to do with the c.f. at the bottom)

[2017-11-15 12:36] Mani-Sadhasivam commented on #189
@daniel-thompson I will work on it. Thanks!

[2017-11-20 00:06] sdrobertw commented on #188
@Mani-Sadhasivam @ric96

Please take a look. Thanks!

[2017-11-20 14:28] SteveTaylor96 opened #194 "Problem with EnterpriseEdition/Poplar/HardwareDocs/HardwareUserManual.md"
Several sections are <missing information> e.g limitations and turning on....

[2017-11-21 21:53] #187 closed

[2017-11-29 21:57] ravilape opened #201 "Problem with ConsumerEdition/DragonBoard-410c/Guides/USBWebcam.md"
Please enter some details about the bug/issue so we can promptly resolve it.

[2017-11-30 10:41] kylekirkby opened #204 "Problem with ConsumerEdition/B2260/Downloads/OpenEmbedded.md"
Hi Guys,

The link checker has found some more broken links on this page.

https://www.96boards.org/documentation/ConsumerEdition/B2260/Downloads/OpenEmbedded.md.html

build	30-Nov-2017 06:57:37	./documentation/ConsumerEdition/B2260/Downloads/OpenEmbedded.md.html, http://builds.96boards.org/snapshots/reference-platform/openembedded/jethro/stih410-b2260/rpb-wayland/latest/
build	30-Nov-2017 06:57:3

[2017-11-30 10:41] kylekirkby opened #205 "Broken Links"
Hi Guys the latest broken links from the 96boards build are listed below:

build	30-Nov-2017 06:57:37	./documentation/ConsumerEdition/guides/mraa/gpio/README.md.html, ./documentation/ConsumerEdition/guides/mraa/gpio/index.html
build	30-Nov-2017 06:57:37	./documentation/ConsumerEdition/guides/mraa/i2c/README.md.html, ./documentation/ConsumerEdition/guides/mraa/i2c/index.html
build	30-Nov-2017 06:57

[2017-11-30 11:03] shovanuk commented on #201
Thanks for reporting @ravilape

@Mani-Sadhasivam @ric96 looks like the page is empty?
https://www.96boards.org/documentation/ConsumerEdition/DragonBoard-410c/Guides/USBWebcam.md.html

Thanks
Shovan

[2017-12-06 19:54] Githubforum opened #208 "SD card flash on Debian"
I am trying to flash from SD card, but always get "no space left on device" during SD card flashing ,eventhough i am using 32GB micro sd card. I followed the document provided in github, but no luck. Help please...

[2017-12-06 20:04] sdrobertw commented on #208
@Githubforum Could you please specify a link to the exact instruction set you are following?

[2017-12-06 20:04] sdrobertw commented on #208
@Githubforum

Other statements that might help us troubleshoot for you:

- Your host machine and OS (Mac, PC... Windows, OSX, Ubuntu etc....)
- Speed class of sd card (https://en.wikipedia.org/wiki/Secure_Digital) this link might help
- Are you formatting the SD card prior to flashing?
- If you are flashing sd card using command line and dd command, could you please share the command you are using

[2017-12-06 20:06] sdrobertw commented on #205
I will look into this. I know I will be fixing many of the broken links under the DB410c/VendorDocs.

Any help from @Mani-Sadhasivam and @ric96 is appreciated.

[2017-12-06 20:26] Githubforum commented on #208
Thanks for the response.

This is the link for installation guide for SD card boot.
https://github.com/96boards/documentation/blob/master/ConsumerEdition/DragonBoard-410c/Installation/LinuxSD.md
I am using Sandisk 32GB micro SD card. The link mentioned has the commands I used for.
I am formatting SD card prior to flashing(On windows machine).
host machine is running Ubuntu 14.04 LTS, which I am us

[2017-12-06 20:31] ric96 commented on #208
Hi, the name of the sdcard would be something like /dev/sdZX or /dev/mmcblkpX. The easiest way to check the name on Ububtu is to use the Disks application, it's already installed on ubuntu.
Or Run sudo fdisk -l in a terminal

[2017-12-06 20:41] Githubforum commented on #208
Thanks for response.
I used lsblk command on terminal and the name of the SD card appears as

/media/username/7021-EABD. So I used 7021-EABD as SD card name. Do I need to provide full path of SD card or only the name?

[2017-12-06 20:46] ric96 commented on #208
For example
[code]
the Device Name is to be used and it will ALWAYS have /dev/ in the begining

[2017-12-06 20:52] Githubforum commented on #208
I used command
sudo dd if=dragonboard410c_sdcard_developer_debian-283.img of=/dev/7021-BAED bs=4M oflag=sync status=noxfer

It includes  /dev/ 7021-EABD as the SD card name. Is this correct?..

[2017-12-06 20:53] ric96 commented on #208
No, can you send me the output of ```sudo fdisk -l```

[2017-12-06 21:02] Githubforum commented on #208
![error](https://user-images.githubusercontent.com/34318201/33685179-bbba65b2-da9e-11e7-9465-134eb327585a.png)
![snapshot](https://user-images.githubusercontent.com/34318201/33685181-be7f523a-da9e-11e7-9fc8-4a5e4bf6a0f2.png)
Attached pictures.

[2017-12-06 21:05] ric96 commented on #208
it should be ```of=/dev/sdb```

[2017-12-06 21:06] Githubforum commented on #208
![dev_name](https://user-images.githubusercontent.com/34318201/33685354-4d01d1f4-da9f-11e7-9990-60269dd942ba.png)

[2017-12-06 21:06] ric96 commented on #208
it should be ```of=/dev/sdb```

[2017-12-06 21:07] Githubforum commented on #208
So, I n need to use of=/dev/sdb/7021-EABD, its only of=/dev/sdb correct?

[2017-12-06 21:08] ric96 commented on #208
correct

[2017-12-06 21:17] sdrobertw commented on #208
@Githubforum

Every time you remove and insert your sd card be sure to recheck the name it is under. dd command can be very destructive if you are not careful.

Based on the most current print out you provided your disk name is "sdb", hence the command you will use to flash the sd card is:

"sudo dd if=dragonboard410c_sdcard_developer_debian-283.img of=/dev/sdb bs=4M"

If your problem is resolved,

[2017-12-06 21:29] Githubforum commented on #208
Thanks for info..
Now the image is placed onto SD card. Thanks guys..

[2017-12-06 21:29] #208 closed

[2017-12-06 21:46] Githubforum opened #209 "Login credentials for linaro developer"
With support , the imageg has been placed onto SD card. After inserting it into the dragon board, I get message

Debian GNU/Linux 9 Linaro-developer tty1
linaro-developer login:

In here I tried creating a login, with user name  and password. After I try creating a password, it says, incorrect password,

What this means?.. the password is already set in that?.. or I have to create one?..

[2017-12-06 21:51] ric96 commented on #209
try root/linaro or linaro/linaro

[2017-12-06 21:56] Githubforum commented on #209
linaro/linaro worked . Thanks a lot.

[2017-12-06 22:15] sdrobertw commented on #209
@Githubforum Are you on IRC by chance?

[2017-12-06 22:56] Githubforum commented on #209
I did not get it.. IRC?..

[2017-12-06 23:06] Githubforum commented on #209
Internet relay chat?..

[2017-12-06 23:21] sdrobertw commented on #209
@Githubforum

Yes, IRC = Internet Relay Chat

We are in channels #96Boards and #OpenHours

You should join these channels and hang out with us. Always there chatting live. A free way to access IRC is through freenode

http://webchat.freenode.net/

Just create whatever Username you like and then enter the #chatroom and looks for us.

Sahaj is ric96 and I am sdrobertw :D

[2017-12-06 23:22] sdrobertw commented on #209
@Githubforum I would recommend joining #OpenHours channel first

[2017-12-07 12:53] kylekirkby commented on #97
Hi all,

We should be able to close this now - cannot see any broken links in the breadcrumb.

Many Thanks,

Kyle

[2017-12-07 13:13] Mani-Sadhasivam commented on #205
Submitted #210

[2017-12-07 16:45] Githubforum commented on #209
sure

[2017-12-07 16:53] Githubforum commented on #209
since now the SD card boot is ok, I am trying to run opengles_capture example code provided in 410c_board support link.
https://github.com/D3Engineering/410c_camera_support/wiki/OpenGLES-Capture-Example-User-Guide

How to copy this code from here and make it to run on 410c board?.

[2017-12-07 20:03] Githubforum opened #211 "Do i need to create a partition on SD card ,to execute an application on it?"
I have Dragonboard410c , which I am booting from SD card. Now I want  to run an imager application on to it. The source code is in
https://github.com/D3Engineering/410c_camera_support/wiki/OpenGLES-Capture-Example-User-Guide
how to copy this onto SD card and run on it?..

[2017-12-11 12:34] adhamnegmsourcya opened #212 "compilation error "use option -std=c99,""
whenever i attempt to build i receive the following error

"external/libdrm/xf86drm.c: In function 'parse_separate_sysfs_files':
external/libdrm/xf86drm.c:3102:5: error: 'for' loop initial declarations are only allowed in C99 or C11 mode
     for (unsigned i = ignore_revision ? 1 : 0; i < ARRAY_SIZE(attrs); i++) {
     ^
external/libdrm/xf86drm.c:3102:5: note: use option -std=c99, -std=gnu99, -std

[2017-12-13 11:48] tejaswisj opened #213 "Problem with ConsumerEdition/DragonBoard-410c/Guides/USBWebcam.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/ConsumerEdition/DragonBoard-410c/Guides/USBWebcam.md.html

[2017-12-13 12:05] daniel-thompson commented on #213
This has moved to https://www.96boards.org/documentation/ConsumerEdition/guides/multi-usb-camera.md.html so we need to fix the link rather than this page. What link did you follow to get here?

[2017-12-14 18:51] embedsri opened #214 "Problem with IoTEdition/nitrogen/build/LinuxBuild/BuildShell.md"
I'm unable to replicate the instructions.
URL:  https://www.96boards.org/documentation/IoTEdition/nitrogen/build/LinuxBuild/BuildShell.md.html
I cloned from:
git clone https://github.com/zephyrproject-rtos/zephyr.git
but see these compilation errors:
make -C ./samples/basic/blinky/ BOARD=96b_nitrogen
make: Entering directory '/opt/zephyr/samples/basic/blinky'
make: *** No targets specified and no

[2017-12-21 05:42] sdrobertw commented on #214
@ric96 @embedsri

Has this issue been addressed? If so, please close.

Thank you!

[2017-12-21 05:42] sdrobertw commented on #213
@tejaswisj @daniel-thompson

Has this issue been addressed? If so, please close.

Thanks!

[2017-12-21 05:43] sdrobertw commented on #212
@ric96 I believe this is your specialty, could you please address, label and close this issue when it has been resolved.

thanks!

[2017-12-21 05:45] sdrobertw commented on #211
@Githubforum

@ric96 , would you mind sharing your guide with @Githubforum for sdcard image flashing?

The only reservation I have is that the D3 image is a custom image, thought I feel it should still work.

Thanks.

[2017-12-21 05:46] sdrobertw commented on #211
@Githubforum I would also suggest taking a question like this to the forums:

https://discuss.96boards.org/

There you will get much more visibility from the community and our support team.

[2017-12-21 05:46] sdrobertw commented on #212
@adhamnegmsourcya

I would also suggest taking this issue to the 96Boards forums. There you will get much more visibility from the community and our support team:

https://discuss.96boards.org/

Thanks!

[2017-12-21 05:47] sdrobertw commented on #209
@ric96 @Githubforum Is this issue resolved?

If so, please close.

I would also suggest taking this issue to the 96Boards forums. There you will get much more visibility from the community and our support team:

https://discuss.96boards.org/

Thanks!

[2017-12-21 05:48] sdrobertw commented on #205
@Mani-Sadhasivam @kylekirkby Has this issue been resolved?

If so, please close. Thanks!

[2017-12-21 05:48] #204 closed

[2017-12-21 05:49] sdrobertw commented on #204
Closed issue because this was addressed with the following Pull Request:
https://github.com/96boards/documentation/pull/219

[2017-12-21 05:50] sdrobertw commented on #201
@Mani-Sadhasivam @ric96
Could you please address this issue?

Thanks.

[2017-12-21 05:52] sdrobertw commented on #172
This has been resolved as can be seen on all 96Boards.org github rendered pages.

Closing...

[2017-12-21 05:52] #172 closed

[2017-12-21 05:53] Mani-Sadhasivam commented on #214
Fixed by #215

[2017-12-21 05:54] Mani-Sadhasivam commented on #213
@tejaswisj Can you please let us know the page which referenced this link?

[2017-12-21 06:01] Mani-Sadhasivam commented on #201
@ric96 Can you please modify the link to the new location or just remove it?

[2017-12-21 06:37] #214 closed

[2017-12-21 06:39] Mani-Sadhasivam commented on #209
since the original issue is resolved, closing this issue. @Githubforum please take your further questions on other topics to [96Boards Forum](https://discuss.96boards.org/)

[2017-12-21 06:39] #209 closed

[2017-12-21 06:44] Mani-Sadhasivam commented on #211
@Githubforum You don't need to create a partition for executing the application. Just Clone and build the application from source as mentioned [here](https://github.com/D3Engineering/410c_camera_support/wiki/OpenGLES-Capture-Example-User-Guide#compilation)

[2017-12-21 06:45] Mani-Sadhasivam commented on #211
For further questions, please open a thread in [96Boards Forum](https://discuss.96boards.org/)

[2017-12-21 06:45] #211 closed

[2017-12-21 06:46] Mani-Sadhasivam commented on #205
I have submitted my fix and yesterday @kylekirkby also submitted a PR for fixing broken links. Kyle can you please confirm and close this issue?

[2017-12-21 07:21] #201 closed

[2017-12-21 19:27] embedsri commented on #214
It has been fixed.

[2017-12-21 20:01] embedsri opened #223 "Problem with IoTEdition/nitrogen/build/LinuxBuild/BuildShell.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/IoTEdition/nitrogen/build/LinuxBuild/BuildShell.md.html
When I execute this command:
cmake -DBOARD=96b_nitrogen ..
CMake Error: The source directory "/opt" does not appear to contain CMakeLists.txt.
Specify --help for usage, or press the help button on the CMake GUI.
Version in

[2017-12-21 20:13] embedsri opened #224 "Problem with IoTEdition/nitrogen/build/LinuxBuild/BuildShell.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/IoTEdition/nitrogen/build/LinuxBuild/BuildShell.md.html
When I execute this command:
cmake -DBOARD=96b_nitrogen ..
CMake Error at CMakeLists.txt:5 (target_sources):
  Cannot specify sources for target "app" which is not built by this project.

CMake Warning (dev) in CMakeLists.

[2017-12-21 21:57] ric96 commented on #224
Make sure you run ```$ source zephyr-env.sh``` from the top of zephyr source directory

[2017-12-21 22:08] embedsri commented on #224
Yes, did that.

On Thu, Dec 21, 2017 at 3:57 PM, Sahaj Sarup <notifications@github.com>
wrote:

[2017-12-22 02:06] Mani-Sadhasivam commented on #224
Can you please delete the `build` directory and try the steps once again? Sometimes cmake build gets polluted and a fresh build is required!

Make sure you set all environment path and sourced the `zephyr-env.sh` before trying cmake.

[2017-12-22 02:12] Mani-Sadhasivam commented on #223
@embedsri Are you facing this issue still? (Your recent issue for the same guide is #224)

[2017-12-22 02:34] embedsri commented on #224
I deleted the build directory and have gone past that now. Here's the
latest error:

cmake -DBOARD=96b_nitrogen ..
-- Selected BOARD 96b_nitrogen
Zephyr version: 1.10.99
-- Generating zephyr/include/generated/autoconf.h
-- Generating zephyr/include/generated/generated_dts_board.h
Traceback (most recent call last):
  File "/opt/zephyr/scripts/dts/extract_dts_includes.py", line 9, in
<module>
    im

[2017-12-22 03:35] Mani-Sadhasivam commented on #224
Can you please try `sudo pip install pyyaml`?

[2017-12-22 12:15] daniel-thompson commented on #213
Me? Not a clue I'm afraid. The reporter has not replied to my question!

[2017-12-28 17:17] embedsri commented on #224
Made progress. But stuck here:

make[  1%] Generating always_rebuild
Building for board 96b_nitrogen
[  2%] Generating misc/generated/syscalls.json
[  3%] Built target syscall_list_h_target
[  4%] Built target syscall_macros_h_target
[  6%] Built target offsets
[  7%] Generating include/generated/offsets.h
Traceback (most recent call last):
  File "/opt/zephyr/scripts/gen_offset_header.py", line 8

[2017-12-29 06:14] Mani-Sadhasivam commented on #224
Can you try   `pip3 install --user pyelftools` ?

Also in this guide, we expect the users to set development environment as mentioned [here](http://docs.zephyrproject.org/getting_started/installation_linux.html)

[2017-12-31 10:53] sjfricke opened #225 "Problems with ConsumerEdition/DragonBoard-410c/"
3 different things I have found of need of a quick fix and have commits ready for PR

- [Additonal Docs](https://github.com/96boards/documentation/tree/master/ConsumerEdition/DragonBoard-410c/AdditionalDocs)  is just not done in general in terms of having usable markdown links
- [Getting Started](https://github.com/96boards/documentation/tree/master/ConsumerEdition/DragonBoard-410c/GettingStarted)

[2017-12-31 10:54] sjfricke opened #226 "Contribution Policy doesn't mention to sign commit and PR"
Should have it to sign commits and PR in [Contribution Policy](https://github.com/96boards/documentation/blob/master/Extras/ContributionPolicy.md)

[2017-12-31 12:42] Mani-Sadhasivam commented on #226
@sjfricke Good catch! Thanks

I have submitted a fix adding instructions for submitting PR #227

[2017-12-31 12:43] #223 closed

[2017-12-31 12:45] Mani-Sadhasivam commented on #212
Same issue has been reported in forum
https://discuss.96boards.org/t/aosp-compilation-error-use-option-std-c99/3626

[2017-12-31 12:45] #212 closed

[2017-12-31 12:46] Mani-Sadhasivam commented on #224
@embedsri Are you able to succeed with build?

[2017-12-31 13:30] embedsri commented on #224
Thank you for the quick response.
I did setup the development environment earlier and now tried this:
$  pip3 install --user pyelftools
Collecting pyelftools
Installing collected packages: pyelftools
Successfully installed pyelftools-0.24

But still see the
techsri@techsri-Asus-GL552VW:/opt/zephyr/samples/basic/blinky/build$ make
[  7%] Generating always_rebuild
Building for board 96b_nitrogen
[

[2017-12-31 14:11] Mani-Sadhasivam commented on #224
For meeting all requirements please run the below command:

`pip3 install -r scripts/requiements.txt`

Then, try deleting the old `build` directory and do a fresh build.

[2017-12-31 23:50] embedsri commented on #224
This is where I'm at after doing that:
cmake -DBOARD=96b_nitrogen
CMake Error at CMakeLists.txt:1 (include):
  include could not find load file:

    /cmake/app/boilerplate.cmake

CMake Error at CMakeLists.txt:4 (target_sources):
  Cannot specify sources for target "app" which is not built by this
project.

On Sun, Dec 31, 2017 at 8:11 AM, Manivannan Sadhasivam <
notifications@github.com> wrote:

[2018-01-01 00:44] Mani-Sadhasivam commented on #224
Please keep in mind that you need to source 'zephyr-env.sh' every time after session change. The above error is a result of not sourcing that file.

Also, it is recommended to delete the old build directory and do from scratch.

[2018-01-01 01:32] embedsri commented on #224
I'll keep that in mind. This is the result. Also attaching the log.
Thank you for your support.

$ cmake -DBOARD=96b_nitrogen ..
CMake Deprecation Warning at /opt/zephyr/cmake/app/boilerplate.cmake:47
(cmake_policy):
  The OLD behavior for policy CMP0000 will be removed from a future version
  of CMake.

  The cmake-policies(7) manual explains that the OLD behaviors of all
  policies are deprecate

[2018-01-01 17:29] Mani-Sadhasivam commented on #224
What version of cmake are you using? Minimum supported version is 3.8.2. Incase if you are using old version, please install a recent version as below:
[code]

[2018-01-02 10:14] #226 closed

[2018-01-03 12:17] daniel-thompson opened #228 "Extras/ContributionPolicy.md is over-zealous to the point of intimidation"
I am very curious about why we believe that having a policy requiring that users submit an Issue and be granted permission by a team member before submitting an PR helps to develop the community. Bluntly I would never waste my personal time contributing to an organisation with such an officious policy[1] (in fact even in my paid time this policy may act as in impediment to my own contributions[2])

[2018-01-03 16:09] embedsri commented on #224
I saw your instructions and upgraded cmake to:
$ cmake --version
cmake version 3.10.1

CMake suite maintained and supported by Kitware (kitware.com/cmake).

On Mon, Jan 1, 2018 at 11:29 AM, Manivannan Sadhasivam <
notifications@github.com> wrote:

[2018-01-03 17:50] sdrobertw commented on #228
@daniel-thompson This policy needs to be reworked 100%.

I think all of your points are valid and should be taken into account when re-launching a new contribution policy.

I will launch a doc and share.

Thanks!

[2018-01-03 23:30] sjfricke opened #229 "Problems with DragonBoard-410c/HardwareDocs/HardwareUserManual.md PMIC GPIO"
In the [Hardward User Manual](https://github.com/96boards/documentation/blob/master/ConsumerEdition/DragonBoard-410c/HardwareDocs/HardwareUserManual.md) It says the in [USB Host Ports](https://github.com/96boards/documentation/blob/master/ConsumerEdition/DragonBoard-410c/HardwareDocs/HardwareUserManual.md#usb-host-ports) that it uses `USB_SW_SEL_PM, GPIO_4`. It also says in [Four User LEDs](https:

[2018-01-09 16:20] #129 closed

[2018-01-12 07:06] WeixiangXu opened #243 "Problems with DragonBoard-820c"
I am starting the board for the first time.

1. I connect the DragonBoard 820c to my display with the HDMI cable.
2. Then I connect the power supply to the DragonBoard.  (power light on)

But I get nothing on the monitor. Anything wrong?

[2018-01-12 08:59] daniel-thompson commented on #243
This issue tracker is intended to report problems with the documentation rather than acting as a general technical support forum. Please use the support forums instead: https://discuss.96boards.org/c/products/dragonboard820c

[2018-01-12 08:59] #243 closed

[2018-01-12 09:15] WeixiangXu opened #244 "Problem with "DragonBoard 820c Getting Started With Linux""
when I'm flashing the device with [https://github.com/96boards/documentation/wiki/DragonBoard-820c-Getting-Started-With-Linux](url)
`sudo <PATH to qdl>/qdl prog_ufs_firehose_8996_ddr.elf rawprogram.xml patch.xml`

HELLO version: 0x2 compatible: 0x1 max_len: 1024 mode: 0
READ64 image: 13 offset: 0x0 length: 0x40
READ64 image: 13 offset: 0x40 length: 0x230
READ64 image: 13 offset: 0x1000 length: 0x1

[2018-01-16 10:30] domdaf opened #247 "hikey620 recovery fails "remote: invalid partition" when flashing fip.bin"
Hello,

I'm trying to recover my Hikey 620 board so I followed the instructions given at  [https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/Installation/BoardRecovery.md]( https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/Installation/BoardRecovery.md) but it always fails when flashing the fastboot  partition.

### Steps:
[code]
Here I wait few

[2018-01-16 13:28] daniel-thompson commented on #244
AFAICT this is a technical support matter rather than something that should be fixed in the documentation (it has been answered on the forum).

[2018-01-16 13:28] #244 closed

[2018-01-16 15:56] almartingithub opened #248 "Problem with ConsumerEdition/HiKey960/Downloads/"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/ConsumerEdition/HiKey960/Downloads/

AOSP link doesn't work

[2018-01-17 11:40] vchong commented on #247
Did you get `ptable-linux-8g.img` and `fip.bin` from the links in https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/Installation/BoardRecovery.md? Have you tried rebooting and flashing again?

[2018-01-17 11:43] aleb commented on #248
It seems all the links to md files are broken, for example: https://www.96boards.org/documentation/ConsumerEdition/HiKey960/Installation/
has a "Linux" link to
https://www.96boards.org/documentation/ConsumerEdition/HiKey960/Installation/LinuxFastboot.md
which also returns 404.

It seems to fix the URL you need to add `.html`:
https://www.96boards.org/documentation/ConsumerEdition/HiKey960/Installa

[2018-01-17 17:40] domdaf commented on #247
Hi vchong,
yes I got both files from links in [https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey/Installation/BoardRecovery.md](url)

[http://builds.96boards.org/releases/reference-platform/debian/hikey/16.06/bootloader/l-loader.bin](url)

[http://builds.96boards.org/releases/reference-platform/debian/hikey/16.06/bootloader/fip.bin](url)

Yes I have tried several times re

[2018-01-18 03:07] vchong commented on #247
The UART output helps in the sense that it's showing lots of mmc errors so telling us that the flashing is not working properly, but not sure what's causing them though. The file download links are a bit old, but should still work. Can you maybe try the ones from http://builds.96boards.org/snapshots/reference-platform/components/uefi/latest/hikey/debug/ or http://builds.96boards.org/snapshots/refe

[2018-01-18 13:51] domdaf commented on #247
With [http://builds.96boards.org/snapshots/reference-platform/components/uefi/latest/hikey/debug/](url) I have the same result.

With [http://builds.96boards.org/snapshots/reference-platform/components/uefi-staging/latest/hikey/debug/](url) I can't enter in fastboot mode. In the terminal I just have
[code]
The only change I done on the board was to solder pin header on the J801.

[2018-01-18 15:32] vchong commented on #247
Why J801 (UART0)? Aren't you using the default UART3 (J1802) on the LS expansion port for your console? Not sure how accurate it is, but there's a note on http://wiki.lemaker.org/HiKey(LeMaker_version):UART that says connecting VCC to J801-01 will(?) damage the board.

[2018-01-19 10:21] domdaf commented on #247
My goal was to  boot a seL4 microkernel on the Hikey 620. For that I followed the steps described in [https://wiki.sel4.systems/Hardware/HiKey](url) that's why I used the UART0. I didn't connect Vcc because I've seen the note on Lemaker wiki.
I was blocked on wkiki seL4 step #11 (flashing firmware) on the fastboot flashing with invalid partition issue. I thought that something was wrong in the gen

[2018-01-23 10:58] domdaf commented on #247
New board received. Recovery process works I have no issue. That means the other board is definitively damaged.

Thanks for your support.

[2018-01-23 14:10] vchong commented on #247
Great. Sorry about the broken board.

You're welcome.

[2018-01-23 14:10] #247 closed

[2018-01-24 13:52] daniel-thompson opened #262 "Problem with ConsumerEdition/HiKey960/HardwareDocs/HardwareNotes.md"
I think this is "dead" documentation (its not linked from anywhere but we can guess URL by adding 960 to an existing hikey document.

It looks sufficiently obsolete that we should probably nuke it.

URL:  https://www.96boards.org/documentation/ConsumerEdition/HiKey960/HardwareDocs/HardwareNotes.md.html

[2018-01-24 14:04] ric96 commented on #262
yes, it is obsolete
the correct one is https://www.96boards.org/documentation/ConsumerEdition/HiKey960/HardwareDocs/HardwareUserManual.md.html

with that said, we are cleaning up the doc repo and currently, we are working on standardizing file and folder structure. So ill keep it in mind to nuke that particular file in the upcoming pr for CE.

[2018-01-25 09:57] gokaksantosh opened #263 "Problem with IoTEdition/carbon/build/LinuxBuild/BuildDisco.md"
unable to do git clone for the repo provided, I am getting an error saying that this is not a get repository.
I was trying to build disco example.

Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/IoTEdition/carbon/build/LinuxBuild/BuildDisco.md.html

[2018-01-25 10:02] ric96 commented on #263
Hi,
This seems to be the correct repo.

https://github.com/zephyrproject-rtos/zephyr

Thanks for notifying, we'll change the documentation with the correct link.

[2018-01-25 14:52] daniel-thompson commented on #110
I think we might finally looking at fixing this: https://github.com/96boards-bubblegum/linux/pull/6

Also, whilst this is certainly an issue, it isn't really an issue with the documentation so I'm going to close this one now.

[2018-01-25 14:52] #110 closed

[2018-01-29 11:03] #262 closed

[2018-01-29 17:02] danrue opened #267 "Problem with ConsumerEdition/B2260/HardwareDocs/HardwareUserManual.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/ConsumerEdition/B2260/HardwareDocs/HardwareUserManual.md.html

All image links are broken

[2018-02-13 10:50] daniel-thompson opened #279 "Problem with consumer/mediatekx20/additional-docs/README.md"
URL:  https://www.96boards.org/documentation/consumer/mediatekx20/additional-docs/

From the forum (https://discuss.96boards.org/t/broken-links-for-mediatek-x20/4016 ):

[2018-02-17 03:14] Alberto1398 opened #281 "Updated consumer/bubblegum-96/hardware-docs/SoC_bubblegum96.pdf"
The current version of the SoC datasheet for the bubblegum-96 on this repository does not have a proper index which makes it extremely difficult to read, surfing on the internet i have found an updated datasheet that has this feature.

I found it on the Cubietech ftp server:
http://dl.cubieboard.org/part/S900/

[S900_Datasheet_v1.2.pdf](https://github.com/96boards/documentation/files/1733384/S900_

[2018-02-17 05:23] sdrobertw commented on #281
@Alberto1398 Let me look into this and get back to you. If this is in fact a newer version of the datasheet, we will of course update :)

Thanks for your input!

[2018-02-22 10:13] ndechesne opened #291 "Problem with consumer/dragonboard410c/downloads/README.md"
There should be a section to download the 'bootloaders'. it should be more obvious. We release Debian and OE builds, but also bootloaders. right now it's not very clear for users.

if user follows https://www.96boards.org/documentation/consumer/dragonboard410c/installation/ and choose 'fastboot method' it is unlikely that he will know what to do .

[2018-02-22 19:59] Christopheraburns opened #292 "documentation is unclear on "installing" the 410c Camera"
The camera guide at: https://github.com/D3Engineering/410c_camera_support/wiki/D3-Camera-Mezzanine-User-Guide  says I can use pre-built releases to flash the Dragonboard (with fastboot).

The link is a redirect and I have to choose from a menu of options, none of which match "camera installation" or anything to that effect. The best option is: Dragonboard Boot Image and it doesn't say anything abo

[2018-02-23 10:00] daniel-thompson commented on #292
I've added a sub-heading to the wiki to help people pick out which of the four links they need to follow.

Beyond that I'm not really sure we can fix this... the problem is broken link on the D3Engineering github so you probably need to report it to them.

For now I think this is the page they should be linking to:
https://www.96boards.org/documentation/consumer/dragonboard410c/installation/linux-

[2018-02-26 04:44] Mani-Sadhasivam commented on #292
Hi @Christopheraburns,

As stated by @daniel-thompson, please take this issue to D3 Engineering Wiki.

[2018-02-26 04:46] Mani-Sadhasivam commented on #291
@ric96 Can you please look into this? We can add a section for Flashing Bootloaders in the installation page.

[2018-02-26 05:03] Mani-Sadhasivam commented on #267
Hi @danrue,

Looks like the image links are fixed: https://www.96boards.org/documentation/consumer/b2260/hardware-docs/hardware-user-manual.md.html

Please close the issue if everything seems to be correct!

[2018-02-26 05:04] Mani-Sadhasivam commented on #263
@ric96, please update the guide with new cmake instructions.

[2018-02-26 05:09] Mani-Sadhasivam commented on #248
Hello @almartingithub @aleb,

Sorry for the inconvenience. Broken links were due to the result of our recent documentations cleanups. Its all sorted now. Kindly check and let us know if something is still broken.

Many thanks for your attention!

[2018-02-26 05:30] ric96 commented on #291
@ndechesne I'll add a download section for bootloaders and link that into both fastboot installation method and a new board-recovery doc, I'll see if that's required for 820 as well.

[2018-02-26 05:30] ric96 commented on #291
@ndechesne I'll add a download section for bootloaders and link that into both fastboot installation method and a new board-recovery doc, I'll see if that's required for 820 as well.

[2018-02-26 05:34] ric96 commented on #248
These are the new links and they have been updated on the website and seem to be working fine:
https://www.96boards.org/documentation/consumer/hikey960/downloads/aosp.md.html
https://www.96boards.org/documentation/consumer/hikey960/installation/
https://www.96boards.org/documentation/consumer/hikey960/installation/linux-fastboot.md.html

[2018-02-26 06:31] Mani-Sadhasivam commented on #229
@sjfricke Looks like the QDN document is wrong! According to schematics, following is the pin mapping:

* PM_GPIO_1 - USR_LED_3_CTRL
* PM_GPIO_2 - USR_LED_4_CTRL
* PM_GPIO_3 - USB_HUB_RESET_N_PM
* PM_GPIO_4 - USB_SW_SEL_PM

Above holds true for [Hardware User Manual](https://github.com/96boards/documentation/blob/master/consumer/dragonboard410c/hardware-docs/hardware-user-manual.md#usb-host-ports)

[2018-02-26 06:34] Mani-Sadhasivam commented on #225
@sjfricke Can you please submit PR?

Thanks for your contributions!

[2018-02-26 06:35] Mani-Sadhasivam commented on #224
@embedsri Is this issue still not resolved? Can you please try a fresh cmake build?

[2018-02-26 06:35] Mani-Sadhasivam commented on #279
@sdrobertw We need to get the links from Mediatek!

[2018-02-26 06:36] #292 closed

[2018-02-26 06:37] #97 closed

[2018-02-26 06:40] Mani-Sadhasivam commented on #63
Hi @Jeeppler @bbusacker @sdrobertw,

We now have the [instructions](https://github.com/96boards/documentation/blob/master/consumer/hikey/installation/linux-sd-boot.md) for booting from SD card for Hikey

Thanks for your patience!

[2018-02-26 06:40] #63 closed

[2018-02-26 12:33] daniel-thompson opened #295 "Redirects not working with consumer/dragonboard410c/installation/linux-sd-boot.md"
The redirect from https://www.96boards.org/documentation/ConsumerEdition/DragonBoard-410c/Installation/LinuxSDBoot.md.html is not working correctly.

For example this link on the forum has been borked by the recent renamefest:
https://discuss.96boards.org/t/clone-a-dragonboard-to-other-dragonboard-units/971/12

We're seeing this a lot... and its leading people to assume that relatively recent topi

[2018-02-26 13:34] shovanuk commented on #295
@ric96 @kylekirkby Please check the redirect files

[2018-02-26 19:40] #263 closed

[2018-02-26 19:41] sdrobertw commented on #263
Thank you @ric96 for the fix!

@gokaksantosh please see https://github.com/96boards/documentation/pull/298 - now merged

[2018-02-26 21:16] embedsri commented on #224
Deleted the build directory, ran the root env.sh command, then ran cmake
3.10.1 version and then stuck with the make process:

techsri@techsri-Asus-GL552VW:/opt/zephyr/samples/subsys/shell/shell/build$
make
[  1%] Generating always_rebuild
Building for board 96b_nitrogen
[  2%] Generating misc/generated/syscalls.json
[  2%] Built target syscall_list_h_target
[  3%] Built target syscall_macros_h_ta

[2018-02-26 21:24] embedsri commented on #224
make now works. pyelftools had to be installed with the 3.6 version of pip, not the 3.5 default with pip3 or pip2.

[2018-02-26 21:24] #224 closed

[2018-02-28 13:19] salerio-gs opened #301 "Problem with consumer/dragonboard820c/hardware-docs/README.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/consumer/dragonboard820c/hardware-docs/

Link appears to be broken at present.

[2018-02-28 16:50] daniel-thompson opened #302 "Problem with consumer/dragonboard410c/downloads/debian.md"
This does not point at the latest release (which has migrated to releases.linaro.org).

URL:  https://www.96boards.org/documentation/consumer/dragonboard410c/downloads/debian.md.html

[2018-03-02 07:47] #302 closed

[2018-03-02 12:01] daniel-thompson opened #309 "Problem with consumer/dragonboard410c/guides/AndroidUserGuide_DragonBoard.pdf"
This PDF contains links to builds.96boards.org and will need to be regenerated.

URL:  https://www.96boards.org/documentation/consumer/dragonboard410c/guides/AndroidUserGuide_DragonBoard.pdf

[2018-03-03 01:36] sjfricke opened #314 "Problems with ConsumerEdition/DragonBoard-410c/guides/enable-spi.md"
Currently, to enable SPI in the device tree it brings you through the steps, but then says to

[code]

but there is no `vmlinuz-*` as of 17.09 to grab from

Also this differs from the

[code]

command given in the [download page](http://builds.96boards.org/releases/dragonboard410c/linaro/debian/17.09/)

[2018-03-03 03:30] Mani-Sadhasivam commented on #314
Hello @sjfricke,

Our builds are migrated from `builds.96boards.org` to `releases.linaro.org`. And these instructions are for the latest release found in `releases.linaro.org`.

[2018-03-03 04:11] sjfricke commented on #314
ok!

I didn't realize there were two links.

thanks!

[2018-03-03 04:11] #314 closed

[2018-03-07 10:51] daniel-thompson opened #316 "Problem with consumer/dragonboard820c/getting-started/README.md"
This is a Getting Started guide for the DB820C but most of the table is just stating the 820E hardware specs and, for the DB820C may not be strictly accurate.

Two issues:

1. "custom 64-bit Kryo quad-core CPU up to 2.35GHz" is contradicted by the Qualcomm website which suggests 2.15GHz (is the 2.35GHz figure cross talk from the Snapdragon 821?)
2. "Adreno™ 530 GPU OpenGL ES 3.1 + AEP, OpenCL2.0 F

[2018-03-12 17:41] nazik5 opened #322 "Picture of dipswitch not found at /documentation/consumer/dragonboard410c/getting-started/basic-kit/"
Looks like the picture of dipswitch at **/documentation/consumer/dragonboard410c/getting-started/basic-kit/README.md** was not found.

It is located at this part of the document:

# Starting the board for the first time
### The DragonBoard 410c comes preloaded with Android and can be up and running with a few simple steps: ###
- Connect the DragonBoard 410c to your display with the HDMI cable. It

[2018-03-13 09:17] ndechesne commented on #316
well, i think most of our 'getting started' describe the hardware platform, which I think make sense. This is the full capability of the platform.

the software support on a given platform depends , well on the software loaded on the board. How do you think we should organize information? if we want to list software features, which software do we pick?

I would suggest to make it clear that the ca

[2018-03-13 10:17] daniel-thompson commented on #316
Sorry but no... there is a product page to describe the hardware (and even there I think raising false expectations is misguided).

However, the Getting Started page should provide practical help on how to get started using the board. Knowing how fast the Kyro clocks and what the GPU would have been able to do if you had bought a Pixel instead does absolutely nothing to help the user get started u

[2018-03-13 10:36] daniel-thompson commented on #316
A simple solution would be to see if a number of 96Boards folks (paging @sdrobertw @ric96 @Mani-Sadhasivam ) that hardware specs have no business being repeated in a getting started guide. If so we nuke the whole useless section and turn out attention to putting helpful material in the getting started pages instead ;-) .

Sorry to be harsh about these tables but to me they fill like padding, espec

[2018-03-13 11:27] ndechesne commented on #316
what i meant is that a hardware description is a valid thing to have, and that an up-to-date software description is very hard to get.. now that i read your latest comments:

* software description belongs to release notes, since they are specific to kernel, distro, build, ..
* hardware description belongs to the vendor and qualcomm has a good page on qdn already (https://developer.qualcomm.com/ha

[2018-03-17 22:12] cezmen opened #325 "Problem with consumer/dragonboard820c/getting-started/README.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/consumer/dragonboard820c/getting-started/

"If you are already familiar with the **i.MX7** 96 board" ... Did you mean "DragonBoard 820c", instead of "i.MX7"?  :)

[2018-03-18 05:09] #325 closed

[2018-03-18 05:09] daniel-thompson commented on #325
Thanks for the report!

[2018-03-19 05:59] vamrs opened #334 "any plan to split the documents in different repo for better maintenance?"
Each board should have its own documents repos and managed with git submodules, is that in consideration? The main reason is if we want to quote the whole documentation of specified board, we will have to quote the whole 96boards documentation.

[2018-03-19 06:29] sdrobertw commented on #334
@vamrs We can definitely consider this. We can bring this up with 96Boards and Website team, and other partners to see if it would be of interest.

Let's talk more about this at Connect. I like the suggestion.

[2018-03-19 11:06] ndechesne commented on #334
i am not claiming that splitting is a good idea.. but if we ever break things into 'boards', then i would like to make sure that we don't split up db410c from db820c and keep them together, e.g. to make a 'dragonboard' family doc.

[2018-03-23 00:59] pcub opened #338 "hikey960 board does not work with opencl"
Hello, I have hikey960 boards, it has android os in it. However, when I run opencl program, it say
terminate called after throwing an instance of 'cl::Error’
what(): clGetDeviceInfo.

I download mali-450_r7p0-00rel0_android-6.0_1.tar.gz from https://developer.arm.com/products/software/mali-drivers/user-space and pushed libOpenCL.so to hikey. But also get same error shown above.
Can you give me mor

[2018-03-23 01:04] ric96 commented on #338
@pcub
Hi, this repository's issue section is only to deal with issues with the website.
You can ask this question on the forum, https://discuss.96boards.org
Jusy tag me @ric96 and I'll be more than willing to help out.
Thanks.

[2018-03-23 01:04] #338 closed

[2018-03-31 23:01] tdhammer opened #342 "Problem with db410c Linux Host fastboot install documentation?"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/consumer/dragonboard410c/installation/linux-fastboot.md.html

In Step 1 - using a distro manager -
not sure it applies to Debian or when it might have changed in Ubuntu, but in my 16.04 (Xenial) is not finding android-tools but it does find android-tools-fastboot.

I am not a p

[2018-03-31 23:05] sdrobertw commented on #342
@tdhammer Thanks for bringing this up! We will look into this asap. @ric96 is on the case.

[2018-03-31 23:06] sdrobertw commented on #122
@Mani-Sadhasivam is there no Bubblegum-96 board recovery guide? Yes, if you could please create a guide for board recovery, and the close this issue.

Thanks!

[2018-03-31 23:07] sdrobertw commented on #150
@kylekirkby I am guessing this has been fixed since we have not seen any broken links in the build logs lately around the B2260. I am going to close this issue.

[2018-03-31 23:07] #150 closed

[2018-03-31 23:08] sdrobertw commented on #175
@Mani-Sadhasivam has this issue been addressed? If not, please do so and close.

Thanks!

[2018-03-31 23:08] sdrobertw commented on #188
@Mani-Sadhasivam any update on this one?

[2018-04-01 00:36] tdhammer commented on #342
@ric96 - FWIW, I made a couple updates to fastboot commands and submitted a pull request for those changes.

[2018-04-01 02:08] Mani-Sadhasivam commented on #175
@sdrobertw The issue is about having two identical OE guides (96Boards and Linaro). Should we remove 96Boards one and point it to Linaro page?

[2018-04-01 02:09] Mani-Sadhasivam commented on #188
Will take it as a high priority

[2018-04-01 02:16] Mani-Sadhasivam commented on #122
@daniel-thompson Is the SD boot doc a good candidate for Board Recovery guide?

[2018-04-01 02:18] Mani-Sadhasivam commented on #301
Link seems to be working

[2018-04-01 02:18] #301 closed

[2018-04-01 02:19] Mani-Sadhasivam commented on #291
@ric96 Any update?

[2018-04-01 02:20] Mani-Sadhasivam commented on #295
Issue is fixed and redirect is working now! Thanks @daniel-thompson for reporting.

[2018-04-01 02:20] #295 closed

[2018-04-01 02:21] Mani-Sadhasivam commented on #205
@kylekirkby Are we good to close this issue?

[2018-04-01 02:24] #267 closed

[2018-04-01 02:25] Mani-Sadhasivam commented on #322
@ric96 Can you please take up this?

[2018-04-03 01:29] sdrobertw commented on #322
@ric96 Please address

Thanks!

[2018-04-03 16:55] ric96 commented on #342
@tdhammer
it should be
[code]
this will install adb fastboot and mkbootimg etc

[2018-04-04 00:12] tdhammer commented on #342
Thanks @ric96
If you know someone who has 14.04 (trusty), it might be worthwhile to have them check- it looks like the package split occurred by that release and it will be around for at least a couple more years...

[2018-04-04 00:12] #342 closed

[2018-04-04 14:18] Mani-Sadhasivam commented on #188
There is no `gpt` partition entry on the vendor bootloader. Should we just remove this command from doc?

So there is no way to reflash the partition table once existing eMMC partition table is corrupted?

@daniel-thompson your views?

[2018-04-04 14:38] Mani-Sadhasivam commented on #188
Partition table is hardcoded into the vendor 'lk' bootloader. Also the board recovery process starts at `preloader` stage and if that partition is corrupted, then there is no way to debrick the board I guess. Anyway I don't think that the vendor would be interested in fixing this issue now ;-)

[2018-04-04 15:31] daniel-thompson opened #347 "Problem with consumer/dragonboard820c/installation/linux-sd.md.html"
These are not installation instructions. These are board recovery instructions!

URL:  https://www.96boards.org/documentation/consumer/dragonboard820c/installation/linux-sd.md.html

[2018-04-04 15:34] daniel-thompson commented on #347
As best as I can make out the *install* instructions are found in linux-fastboot.md under the heading "Booting into fastboot". The same problem of debrick instructions pretending to be install instructions applies the first part of linux-fastboot.md too.

[2018-04-05 06:34] #188 closed

[2018-04-08 12:40] ubitux opened #359 "Confusing Hikey boot recovery documentation"
The documentation at https://github.com/96boards/documentation/blob/master/consumer/hikey/installation/board-recovery.md looks broken in several ways:

1. The sentence "The following fastboot commands" is not followed immediately by commands

2. The command `sudo python hisi-idt.py -d /dev/ttyUSB0 --img1=l-loader.bin` is actually indicated to be run twice; do we actually need to do that two times

[2018-04-08 14:47] Mani-Sadhasivam commented on #359
Hi @ubitux,

Thanks a lot for the detailed findings!

I will fix this section

No it is not needed. Will fix this.

This is not an issue with the documentation and it generally means your board didn't get into fastboot mode. Please try flashing the correct images. But the image location itself needs to be fixed, so please follow the process once I have updated the documentation.

This needs to be

[2018-04-08 16:30] ubitux commented on #359
I tried both release (https://snapshots.linaro.org/96boards/reference-platform/components/uefi-staging/latest/hikey/release/l-loader.bin) and debug (https://snapshots.linaro.org/96boards/reference-platform/components/uefi-staging/latest/hikey/release/l-loader.bin).

Are you saying these are incorrect loaders?

[2018-04-08 17:49] ubitux commented on #359
Same issue, fastboot device not detected.

BTW, if I pick `hisi-idt.py` from the base URL you propose (http://releases.linaro.org/96boards/hikey/linaro/binaries/latest), it doesn't work at all:

[code]

It's probably too old.

On the other hand, the `hisi-idt.py` from https://snapshots.linaro.org/96boards/reference-platform/components/uefi-staging/latest/hikey/ (current documentation) works but is

[2018-04-09 14:33] Mani-Sadhasivam commented on #359
Submitted a fix #365

Btw, `hisi-idt.py` script only works with Python2.7. I have added this limitation to the doc.

[2018-04-09 17:51] ubitux commented on #359
Alright, I get it working following your instructions in your branch, thanks a lot.

Just a few more comments:

- The *see the "Problems with Python Downloader" section below* refers to something that doesn't exist (anymore?)
- You should probably say a green LED turns on when it's supposed to work
- Suggestion: you should pack all the downloads (that is, including `hisi-idt.py`) in the same place

[2018-04-09 19:01] #359 closed

[2018-04-10 10:47] daniel-thompson commented on #228
The old contributions policy has been removed and replaced with a less offensive one.

Issue can be closed.

[2018-04-10 10:47] #228 closed

[2018-04-15 08:29] cyrozap opened #377 "Link formatting issues in documentation/consumer/mediatekx20/installation/board-recovery.md"
A number of the links in this file have space between the square brackets and parentheses, so they aren't recognized as links by the Markdown processor.

[2018-04-16 14:13] susmithagankidi opened #384 "Problem with _documentation/consumer/hikey960/downloads/debian.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/consumer/hikey960/downloads/Debian.md.html

The links for fastboot images take me no where

[2018-04-16 14:53] kylekirkby opened #385 "Problem with _documentation/enterprise/poplar/hardware-docs/hw-user-manual.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/enterprise/poplar/hardware-docs/hw-user-manual.md.html

This hw-user-manual looks like it is missing a load of text - with descriptions of the text to go there stored in  < Text here > format.

[2018-04-30 08:29] daniel-thompson opened #421 "Problem with _documentation/consumer/dragonboard410c/build/kernel.md"
This guide doe not make clear that is a guide for building kernels for our Debian releases.

Some users are wrongly following it to build kernels for the Qualcomm AOSP 5 release:
https://discuss.96boards.org/t/build-kernel-image-for-dragon-board/906/10

URL:  https://www.96boards.org/documentation/consumer/dragonboard410c/build/kernel.md.html

[2018-05-01 13:35] daniel-thompson opened #425 "Problem with _documentation/CONTRIBUTE.md"
The tutorial does not document the "Edit on github" workflow (i.e. clicking the pen icon on a .md file to auto-fork the repo and open a web editor).

URL:  https://www.96boards.org/documentation/CONTRIBUTE.md.html

[2018-05-01 20:04] demo-96 opened #428 "Problem with _documentation/consumer/README.md"
foo not okay
URL:  https://www.96boards.org/documentation/consumer/

[2018-05-01 20:07] #428 closed

[2018-05-04 05:53] Mani-Sadhasivam commented on #384
@susmithagankidi Hikey960 docs are being worked on by the 96Boards team. Please stay tuned for the update. We will link this issue when the pull request gets submitted.

Thanks!

[2018-05-04 06:30] #421 closed

[2018-05-07 04:52] #425 closed

[2018-05-09 07:16] Mani-Sadhasivam commented on #384
@daniel-thompson @b49020 is a member of documentation repo. So, I can't add him as an assignee!

[2018-05-10 05:56] b49020 commented on #384
@Mani-Sadhasivam @daniel-thompson I have created #448 pull request to add debian download and installation steps on hikey960. Please review.

[2018-05-11 18:51] #279 closed

[2018-05-17 11:39] daniel-thompson opened #467 "hikey960: downloads: Debian? Third party?"
Aren't the debian images first party? Sure they are not make by the LT but there do not come from a third party.

URL:  https://www.96boards.org/documentation/consumer/hikey960/downloads/

[2018-05-17 16:19] daniel-thompson commented on #467
On Thu, May 17, 2018 at 08:56:58AM -0700, Sahaj Sarup wrote:

I guess. In the current form (where Downloads leads to images we
provide) I think it is first party.

If it were third party it would probably just be a direct link to
https://source.android.com/setup/build/devices#960hikey

Actually to be brutally honest I wonder if we are doing users a
disservice by making the AOSP devices page hard t

[2018-05-25 08:45] cyrozap opened #476 "Problems with _documentation/consumer/mediatekx20/additional-docs/README.md"
URL:  https://www.96boards.org/documentation/consumer/mediatekx20/additional-docs/

Looks like there was a [copy/paste error](https://github.com/96boards/documentation/pull/445/files#diff-301ba33c9f33c4c467e084982d969e17R18) in #445, and the "Register Table Part 1" link is a duplicate of the "Functional Specifications" one.

Separately, a minor nitpick: The spacing on the link titles is a little i

[2018-05-25 08:52] Mani-Sadhasivam commented on #476
@cyrozap Thanks a lot for reporting! I have submitted the fix #477.

[2018-05-25 08:54] Mani-Sadhasivam commented on #384
Closing this issue since the HiKey960 docs are live now!

[2018-05-25 08:54] #384 closed

[2018-05-25 17:45] #476 closed

[2018-05-25 22:31] karishmabava opened #479 "Hikey 970"
Hi,
Hikey 970 has ethernet network droupouts after 20-30 mins in developers mode. Also the connection from USB C to USB C (Mac) gives device recognition issues, where the device keeps being detected and undetected for a long time.

Please help!

Thanks,
Karishma Bava

[2018-05-27 21:02] ric96 commented on #467
@daniel-thompson do you think we should have an easily accessible list of devices that run aosp and/or debian and then directly link them to install/build guides?

[2018-05-29 12:55] daniel-thompson commented on #467
On Sun, May 27, 2018 at 02:02:13PM -0700, Sahaj Sarup wrote:

Maybe.

I think you'd end up under pressure to augment it with the *quality* of
the respective build (saying a Debian build exists doesn't tell us
anything about whether, for example, USB works). That could be useful
but will also be hard to maintain (and haven't we have generally avoided
doing comparison tables for the various boards?)

[2018-06-01 19:46] karishmabava opened #485 "Problem with _documentation/consumer/hikey970/downloads/README.md"
Hi,

I was reading the documentation and it says that Hikey 970 comes pre installed with Linux. But when I switched on my Hikey 970 it had Android on it. How can I switch it to Linux or where can I get ubuntu img to flash.

Thank you

[2018-06-01 20:06] sdrobertw commented on #322
@ric96 please address

Thanks!

[2018-06-01 20:15] ric96 commented on #467
the respective build (saying a Debian build exists doesn't tell us
anything about whether, for example, USB works). That could be useful
but will also be hard to maintain (and haven't we have generally avoided
doing comparison tables for the various boards?).

Agreed on that, for now, i can at least change the "Third party Bit" to "Linaro Supported OS".

[2018-06-01 20:58] ric96 commented on #347
@daniel-thompson i'll start pushing the "common" documentation folder for db and hk families. So, this will probably get corrected then....

[2018-06-01 21:09] ric96 commented on #291
@ndechesne @Mani-Sadhasivam this will be finally added to the common dragonboard documentation folder

[2018-06-02 03:54] Mani-Sadhasivam commented on #485
Hi @karishmabava,

HiKey970 is supposed to come with Linux but for some reasons they made Android support first and then working on Linux later. Currently the Linux images are under development, primarily focussed on Debian and I don't think there is any plan to support Ubuntu.

You ca find the kernel source for HiKey970 in below repo:
https://github.com/96boards-hikey/linux/tree/hikey970-v4.9

[2018-06-04 02:10] ric96 commented on #309
@daniel-thompson looks like the pdf is owned by arrow, I guess we'll need to ask them for a new one.

[2018-06-04 06:55] Mani-Sadhasivam commented on #479
Hi @karishmabava,

Can you please post your issue in [96Boards Forum](https://discuss.96boards.org/c/products/hikey970)? Documentation issues are meant to specify any issue with the board documentation like unclear documentation, broken links etc...and we handle all technical issues through forum.

Thanks for your time.

[2018-06-04 06:55] #479 closed

[2018-06-04 07:05] Mani-Sadhasivam commented on #281
@sdrobertw Can you please provide suggestion?

[2018-06-04 07:05] Mani-Sadhasivam commented on #225
@sjfricke Any update on your PR?

Thanks

[2018-06-04 07:07] Mani-Sadhasivam commented on #213
Closing as we didn't get any response from the reporter!

[2018-06-04 07:07] #213 closed

[2018-06-04 07:10] Mani-Sadhasivam commented on #189
Since no one from HiSilicon landing team is willing to sign off the release image, there is no chance for getting that. So even though it is not recommended, we should be using snapshot images for now :(

[2018-06-04 07:11] Mani-Sadhasivam commented on #175
@sdrobertw Waiting for your response!

Thanks

[2018-06-04 07:17] #485 closed

[2018-06-04 07:56] masahisak opened #488 "Problem with _documentation/enterprise/developerbox/hardware-docs/README.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/enterprise/developerbox/hardware-docs/

In our verification in developerbox, the following DIMM is not working stably.
Kernel compilation fails, memtester outputs some errors.
Trancend RDIMM TS2GHR72V4B DDR4

Could you please remove this DIMM from verified list?

[2018-06-04 08:17] sjfricke commented on #225
So idk how I must have missed the Feb 26 comment somehow. I guess looking at it I don't have the branch anymore, but looking at it, the two main things is that there is a missing image in [Vendor Docs](https://github.com/96boards/documentation/blob/master/consumer/dragonboard410c/vendor-docs/README.md) which I have no idea what it was supposed to be.

Also I realize now that the "Additional Docs"

[2018-06-04 08:45] daniel-thompson commented on #225
Agree. Even it is was populated it would only be board images, etc so it should probably not be linked to.

[2018-06-04 08:57] daniel-thompson commented on #189
Huh? The issue is that OpenEmbedded is not documented on https://www.96boards.org/documentation/consumer/hikey960/downloads/ .

The user feedback that I was passing on is:

[2018-06-04 09:03] #316 closed

[2018-06-04 09:08] #205 closed

[2018-06-04 09:09] Mani-Sadhasivam commented on #189
@daniel-thompson Ahh. Sorry, I overlooked the OE part. Added the OE guide for HiKey960 to my TODO list.

Thanks

[2018-06-04 09:27] daniel-thompson commented on #189
On Mon, Jun 04, 2018 at 02:09:16AM -0700, Manivannan Sadhasivam wrote:

No worries.

FWIW I also think the way we manage snapshots -> release is rather
dysfunctional. However I don't view HiSi LT as the problem. More
that the assumption that they must bless is broken. We see exactly
the same problem on other boards, such as Bubblegum96, so the problem
is more likely in the assumption that a team t

[2018-06-04 09:33] #488 closed

[2018-06-04 10:20] daniel-thompson commented on #309
On Sun, Jun 03, 2018 at 07:10:55PM -0700, Sahaj Sarup wrote:

Yes, please do.

Basically during the mania of the builds.96boards.org close down I did a
grep over the tree and this document came up as having out-of-date links.

[2018-06-04 22:21] karishmabava opened #491 "Problem while Flashing Hikey 970"
Hi,

I am having problem while flashing linux debian on hikey 970. Please help me out.

sudo ./recovery-flash.sh /dev/ttyXRUSB0
Config name: /home/parallels/tools-images-hikey970/config
Port name: /dev/ttyXRUSB0
0: Image: ./sec_usb_xloader.img Downalod Address: 0x22000
1: Image: ./sec_usb_xloader2.img Downalod Address: 0x60049000
2: Image: ./l-loader.bin Downalod Address: 0x16800000
Serial port op

[2018-06-05 11:14] Mani-Sadhasivam commented on #491
Hi @karishmabava,

As I said before, please forward your issue to [96Boards Forum](https://discuss.96boards.org/c/products/hikey970). We don't take technical issues through documentation repo.

Thanks for understanding!

[2018-06-05 11:14] #491 closed

[2018-06-06 20:13] ASerbinski opened #499 "96Boards-CE-Specification.pdf POWER SUPPLIES specification unclear"
Page 19 regarding 1.8V output supply, should be (min 0.1A) ... not "max".

[2018-06-08 08:42] Ankitaasharmaa commented on #47
I need help! currently i am doing work from  windows10 and downloaded Debian image file from https://www.96boards.org/documentation/consumer/dragonboard410c/downloads/debian.md.html and trying to boot it from SD card but i am not able get a dialogue box for installing operating system in Dragonboard410c. I had properly wrote the image file into SD card(8GB) through win32diskimager. While flashing

[2018-06-08 08:46] ric96 commented on #47
@Ankitaasharmaa this issue section is for issues related to only the documentation section of our website. Any issues related to the software running on any of our boards or issues related to the hardware itself need to be asked on our forum: https://discuss.96boards.org

[2018-06-11 05:42] Mani-Sadhasivam commented on #499
@sdrobertw Any update on this?

[2018-06-11 05:43] Mani-Sadhasivam commented on #347
@ric96 Any update on common doc?

[2018-06-11 05:45] Mani-Sadhasivam commented on #309
@ric96 Any update from Arrow?

[2018-06-11 05:49] Mani-Sadhasivam commented on #225
@sjfricke Can you please submit PR for adding hyperlinks to getting started kits?

[2018-06-11 10:30] daniel-thompson commented on #499
To be honest its rather odd that there is a summary of power available at all (we don't summarize the power available via the 5V line.

Given the text on page 9 ("A minimum of 0.18W to a mezzanine module via the regulated +1.8V line") is unambiguous it might be best just to delete the bracketed text entirely.

[2018-06-11 11:22] filip-p opened #505 "Problem with _documentation/consumer/dragonboard410c/guides/terminal.md"
Terminal tutorial is empty.

URL:  https://www.96boards.org/documentation/consumer/dragonboard410c/guides/terminal.md.html

[2018-06-11 14:36] ASerbinski commented on #499
Hi Daniel,
I'm not sure I agree with the comparison between 1.8 and 5v lines. When you're developing a mezzanine, you can almost (within reason) assume that the 5v line is unlimited, because its probably going to be run off the same VR as the USB ports, so ~1A+, and everybody can build mezzanine boards that draw up to 500 mA (for example) and it will work.

But the 1.8v line is going to be a lot m

[2018-06-11 14:43] daniel-thompson commented on #499
On Mon, Jun 11, 2018 at 07:36:55AM -0700, Adam Serbinski wrote:

As page 9, the base board is required to provide 0.18W (a.k.a. 0.1A).
Similarly all other power limits for the LS connector are documented on
page 9.

It is therefore weird that for the I/O voltage reference we express the
power limits twice (and also that we use different unit compared to
other parts of the doc). It's not that I don

[2018-06-11 14:50] ASerbinski commented on #499
Oh, I didn't see that it was written twice. In that case, yeah, its superfluous to have it there at all.

[2018-06-13 16:05] daniel-thompson opened #506 "Problem with _documentation/consumer/hikey970/installation/board-recovery.md"
Instructions do not work: l-loader.bin is not included in the tools-images-hikey970 repo (so `sudo python hisi-idt.py -d /dev/ttyUSB1 --img1 ./sec_usb_xloader.img --img2 ./sec_usb_xloader2.img --img3 ./l-loader.bin` will not work).

See https://discuss.96boards.org/t/missing-l-loader-bin/4987 .

URL:  https://www.96boards.org/documentation/consumer/hikey970/installation/board-recovery.md.html

[2018-06-14 09:16] daniel-thompson commented on #506
... and recommending `/dev/ttyUSB1` by default is weird. Most users will not have another USB serial device present and users that do are typically better equipped to try different numbers. It should default to `/dev/ttyUSB0`.

[2018-06-14 10:18] daniel-thompson commented on #506
I came *so* close to giving up completely on this board!

hisi-idt.py only works if your version of pyserial is more than five years old (pyserial-2.6 released in 2011 is the last working version). When it does work it is unreliable.

hikey_idt (which is what the included shell scripts are pointed at) only works about 50% of the time.

The board recovery instructions don't describe where to get l-

[2018-06-14 10:47] ric96 commented on #505
Odd... Looking into it.

[2018-06-14 11:05] daniel-thompson commented on #506
On Thu, Jun 14, 2018 at 03:25:28AM -0700, Manivannan Sadhasivam wrote:

Not entirely common. It does not affect Hikey620.

[2018-06-14 13:55] Mani-Sadhasivam commented on #506
Huh. I can  observe the same error with Python3.5.2

[2018-06-14 14:36] daniel-thompson commented on #506
Are you sure its the same error? This is not about python 2 versus python 3; its about pyserial 2.6 versus pyserial 2.7.

[code]

I cannot observe this traceback on hikey620.

[2018-06-14 16:09] Mani-Sadhasivam commented on #506
This error is due to control flow issue in pyserial for HiKey970 modem port and we can overcome this by following workaround:
[code]
Even if we workaround this issue, we will meet (I'm) python2/3 compatibility issue. So I can say that I'm seeing the compatibility issue in both HiKey and HiKey970.

[2018-06-14 16:14] Mani-Sadhasivam commented on #506
@daniel-thompson Issue #359 has the same record.

[2018-06-18 08:28] kylekirkby opened #507 "Ticket for Issue in 96Boards Documentation"
This is just a report of error in board documentation.

Hardware User Manual (https://www.96boards.ai/documentation/consumer/hikey970/hardware-docs/files/hikey970-user-manual.pdf)

In section 1.3.7 Antenna connector states that:

"The HiKey board is equipped with a TI WL1835MOD WLAN Baseband Processor [...]

It should be:

"The HiKey board is equipped with a TI WL1837MOD WLAN Baseband Processor [.

[2018-06-19 09:05] Mani-Sadhasivam commented on #507
Hi,

This looks like a copy paste error in the user manual. Since the manual is inherited from HiKey which uses WL1835, they forgot to replace it. The correct part number is WL1837.

@sdrobertw Can we ask HiSilicon to change the content in User manual?

Thanks for reporting!

[2018-06-22 14:17] Mani-Sadhasivam commented on #506
@daniel-thompson I have submitted the fix to upstream repo. Kindly take a look at it!

This will add the missing binary as well as fixing the script to work with Python3.

https://github.com/96boards-hikey/tools-images-hikey970/pull/4

[2018-06-23 05:32] sdrobertw commented on #175
@Mani-Sadhasivam I would recommend to remove the Linaro/documentation one, and keep the 96boards/documentation one.

@ndechesne what do you think? Mani did a great job at transferring the content over and unifying it in the 96Boards doc rep.

[2018-06-25 09:10] ndechesne commented on #175
this documentation is not specific to 96boards.. so in theory it should be on the Linaro wiki.. however since most documentation efforts have been done in the 96boards wiki, it's probably better to keep this version..

[2018-07-02 09:17] daniel-thompson opened #513 "Problem with _documentation/consumer/dragonboard410c/build/kernel.md"
Building a kernel requires host tooling (on Debian and derivatives somethin like: build-essential, dtc, ncurses-dev, etc). A user following these instructions is likely to get stuck.

URL:  https://www.96boards.org/documentation/consumer/dragonboard410c/build/kernel.md.html

[2018-07-02 11:15] GargiGeetha opened #514 "After flashing and rebooting the board, it is booting fine and it is working fine. But I cannot find /dev/v4l-subdev. only by-path is listed under v4l.. What should I do to get the subdevices?"
I did every steps as per the instructions mentioned in the documentation. After flashing and rebooting the board, it is booting up fine and it is working fine. But I cannot find /dev/v4l-subdev. only by-path is listed under v4l.. What should I do to get the subdevices?
URL:  https://www.96boards.org/documentation/consumer/dragonboard410c/installation/linux-fastboot.md.html

[2018-07-02 11:20] Mani-Sadhasivam commented on #514
Hi @GargiGeetha,

Please forward your issue to the [96Boards Forum](https://discuss.96boards.org/c/products/dragonboard410c). Documentation issue is only for issue related to board documentation.

Thanks!

[2018-07-02 11:20] #514 closed

[2018-07-02 11:49] GargiGeetha commented on #514
Please help to solve this issue. v4l-subdevices is not listed under /dev/v4l.
How will I get it?

[2018-07-02 12:06] Mani-Sadhasivam commented on #514
Hi @GargiGeetha,

As I said before, please forward your issue to the 96Boards Forum. Your issue will get sorted out quickly when you ask it in forum. We don't take technical issues through documentation repo.

Hope you understand!

Thanks

[2018-07-02 13:36] rabi2017 opened #516 "Could not load /vendor/lib/hw/android.hardware.drm@1.0-impl.so from sphal namespace: dlopen failed: library "android.hardware.drm@1.0.so" not found."
Downloaded source code : https://source.android.com/setup/build/devices
Device: HiKey 960 board.

Trying to play a drm protected content and getting the following error.

**07-02 09:39:26.985  2405  3762 E vndksupport: Could not load /vendor/lib/hw/android.hardware.drm@1.0-impl.so from sphal namespace: dlopen failed: library "android.hardware.drm@1.0.so" not found.
07-02 09:39:26.985  2405  3762 E

[2018-07-02 13:41] Mani-Sadhasivam commented on #516
Hi @rabi2017,

Please forward your issue to the [96Boards Forum](https://discuss.96boards.org/c/products/hikey960). Your issue will get sorted out quickly when you ask it in forum. We don't take technical issues through documentation repo.

Hope you understand!

Thanks,
Mani

[2018-07-02 13:41] #516 closed

[2018-07-06 06:53] Mani-Sadhasivam commented on #513
Fix submitted #517

[2018-07-06 06:53] Mani-Sadhasivam commented on #507
@sdrobertw Any update on this?

[2018-07-06 06:55] Mani-Sadhasivam commented on #506
Fix modified according to the review by @daniel-thompson. Waiting to get it merged by Haojian.

[2018-07-06 06:55] Mani-Sadhasivam commented on #505
@ric96 Any update on this?

[2018-07-06 06:56] sdrobertw commented on #507
@Mani-Sadhasivam Best we tag @docularxu here and see if he has anything to add before we start pinging HiSi folks.

Thanks.

[2018-07-06 07:06] Mani-Sadhasivam commented on #499
@daniel-thompson Should we get rid off the power supplies section in Page 19?

[2018-07-06 07:07] Mani-Sadhasivam commented on #347
@ric96 Any progress on the common doc?

[2018-07-06 07:08] Mani-Sadhasivam commented on #309
@ric96 Any update on this issue?

[2018-07-06 07:09] Mani-Sadhasivam commented on #281
@sdrobertw Any update on this?

[2018-07-06 07:13] Mani-Sadhasivam commented on #229
@ndechesne Can you please provide your comment on this?

[2018-07-06 07:19] Mani-Sadhasivam commented on #175
Closing as we agreed to keep the OE guide on both 96Boards and Linaro sites.

[2018-07-06 07:19] #175 closed

[2018-07-06 07:23] Mani-Sadhasivam commented on #194
@SteveTaylor96 Can you please elaborate this issue?

[2018-07-06 07:36] daniel-thompson commented on #175
On Fri, 6 Jul 2018 at 08:19, Manivannan Sadhasivam <notifications@github.com>
wrote:

Which one should we advise forum members to follow if they are having
problems?

—

[2018-07-06 07:37] Mani-Sadhasivam commented on #175
@daniel-thompson Should be 96Boards one!

[2018-07-06 12:17] daniel-thompson commented on #499
On Fri, Jul 06, 2018 at 12:06:31AM -0700, Manivannan Sadhasivam wrote:

Absolutely not!

Just the " (max 0.1A)" in the table, this info is
redundant and, as Adam reported, isn't very clear.

Daniel.

[2018-07-09 10:38] StefanHamminga opened #520 "Problem with documentation/consumer/hikey970/hardware-docs/files/hikey970-user-manual.pdf"
On page 10 of the HiKey970 hardware user manual there is a pinout diagram. There seem to be two typos:

1. Pins 45 and 45: `DSI3_DATA3_(P|N)` should be `DSI2`, deducing from context
2. Pin 36: The I2C clock is marked `I2C3_SCLL`. If this is, as suspected, a regular I2C clock, it should be `I2C3_SCL`, right?

https://github.com/96boards/documentation/blob/master/consumer/hikey970/hardware-docs/file

[2018-07-12 11:42] daniel-thompson opened #524 "Problem with _documentation/mezzanine/sensors-mezzanine/README.md"
The rendered version of this page needs review.

There is litter above some of the images (links to Robert's private github instead of the underlying image) and most of the links have not auto-linkified (forcing user to copy 'n paste).

URL:  https://www.96boards.org/documentation/mezzanine/sensors-mezzanine/

[2018-07-12 18:10] sdrobertw commented on #524
Assigning this to @ric96

Thanks, @daniel-thompson

[2018-07-13 10:18] kylekirkby commented on #524
Updated in the above PR

[2018-07-13 11:33] #524 closed

[2018-07-16 07:32] Mani-Sadhasivam commented on #520
@StefanHamminga Both of the issue you have reported looks to be valid to me! @sdrobertw @docularxu Can we please get this changed in user manual? I know that this document belongs to HiSi and we have several other issues also needs it to be fixed.

[2018-07-16 07:33] Mani-Sadhasivam commented on #513
Waiting for the review!

[2018-07-16 07:35] Mani-Sadhasivam commented on #194
Closing since no update from the reporter so far...

[2018-07-16 07:35] #194 closed

[2018-07-16 08:02] daniel-thompson opened #529 "Problem with _documentation/Specifications/96Boards-CE-Specification.pdf"
The description of an extended A board in inconsistent, specifically the height limits for
the extended area on a Extended A board are inconsistent between the
narrative and the mechanical drawing.

It is also possible that the Extended boards are not documented as intended. The height limit in the extended A connector area (6.5mm) seems extremely low (it means every board with ethernet is extende

[2018-07-17 01:38] masahisak opened #537 "Problem with _documentation/enterprise/developerbox/hardware-docs/README.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/enterprise/developerbox/hardware-docs/

Socionext updated assembly manual.
Could you please update the link to the document?
http://www.socionext.com/en/download/catalog/MN04-00002-3E.pdf

Thank you in advance.

[2018-07-18 15:21] #537 closed

[2018-07-18 16:41] #513 closed

[2018-07-19 13:24] cchaloin opened #540 "Problem with _documentation/consumer/hikey/hikey970/build/README.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/consumer/hikey/hikey970/build/

Hello, both links

* AOSP User Space
Create builds for the HiKey Android reference board
* AOSP Linux Kernel
Build AOSP Specific Linux Kernel from source

are pointing to the same page (the second one)

Regards

[2018-07-20 07:36] seanrmurphy opened #541 "Instructions for booting Ubuntu on Rock960 via SD deficient"
The ubuntu image linked to assumes that the root-fs is mounted on /dev/mmcblk1p5 but in a standard Rock960 system, the SD card mounts on /dev/mmcblk0p5. The result is that when booting from SD, the ubuntu boot process does not find the root-fs and fails.

It is not difficult to change - just change the boot params on the 4th partition to point to the correct device.

This should be noted.

Also, i

[2018-07-20 08:05] daniel-thompson opened #542 "Problem with _documentation/consumer/rock/rock960/build/README.md"
The under contruction/missing sections (Debian/Ubuntu) should be clearly separated from the useful content (AOSP).

URL:  https://www.96boards.org/documentation/consumer/rock/rock960/build/

[2018-07-20 08:06] daniel-thompson opened #543 "Problem with _documentation/consumer/rock/rock960/downloads/README.md"
The Android link is not to the right place.

URL:  https://www.96boards.org/documentation/consumer/rock/rock960/downloads/

[2018-07-22 10:58] ubitux opened #544 "Hikey factory image page broken/incomplete"
https://github.com/96boards/documentation/blob/master/consumer/hikey/hikey620/installation/linux-factory-image.md

This page starts with a bunch of steps refering to an unknown "zipfile", then the step1 description layout following is broken.

[2018-07-22 11:06] ubitux opened #545 "Hikey SD card boot instructions do not work / are incomplete"
Page: https://github.com/96boards/documentation/blob/master/consumer/hikey/hikey620/installation/linux-sd-boot.md

That page doesn't document the jumper configuration

Also while booting, nothing happens on HDMI when plugging the micro-sd. Meanwhile, the serial uart0 interface only shows the following:

[code]

Only the green LED904 seems on (not blinking).

[2018-07-22 11:08] ubitux opened #546 "Hikey hardware user manual full of dead image links"
All the images on https://github.com/96boards/documentation/blob/master/consumer/hikey/hikey620/hardware-docs/hardware-user-manual.md have wrong href.

[2018-07-23 08:57] Mani-Sadhasivam opened #547 "Problem with _documentation/consumer/rock/rock960/installation/linux-mac-rkdeveloptool.md"
Instructions not available for flashing the partition images individually.

URL:  https://www.96boards.org/documentation/consumer/rock/rock960/installation/linux-mac-rkdeveloptool.md.html

[2018-07-23 08:58] Mani-Sadhasivam commented on #547
@vamrs Can you please look into this?

[2018-07-23 10:52] Mani-Sadhasivam commented on #547
@vamrs Thanks a lot! Lets keep this issue opened until the doc is updated.

[2018-07-23 13:54] Mani-Sadhasivam commented on #541
@seanrmurphy Not sure why you hit this error! In my board I can successfully boot from SD card. As you said, SD was assigned to `mmcblk0` and eMMC was `mmcblk1` still if nothing on SD card, it boots from eMMC otherwise it boots from SD card.

If you need to debug this isssue further, I would encourage you to move the thread to [forum](https://discuss.96boards.org/c/products/rock960).

[2018-07-23 19:30] photoszzt commented on #189
I find an OE documentation here: https://github.com/96boards-hikey/Documentation/blob/master/hikey960-openembedded-linux-mainline.md Not sure whether anyone has tried that.

[2018-07-24 07:59] Mani-Sadhasivam commented on #541
Closing as the reporter agreed to move the topic to forum!

[2018-07-24 07:59] #541 closed

[2018-07-24 08:04] Mani-Sadhasivam commented on #545
@ubitux Thanks for reporting! Perhaps this issue can be moved to the [96Boards Forum](https://discuss.96boards.org/c/products/hikey) for better visibility to the community.

[2018-07-24 08:05] Mani-Sadhasivam commented on #543
@vamrs Can you please fix the link to Android image?

[2018-07-24 08:09] Mani-Sadhasivam commented on #347
@ric96 Does the common doc effort address this issue?

[2018-07-24 11:42] seanrmurphy commented on #541
Issue has already been raised on forum - https://discuss.96boards.org/t/sd-card-boot-not-working/5145/7

[2018-07-24 15:33] rball325 opened #548 "Problem with _documentation/consumer/dragonboard/dragonboard410c/guides/camera-module.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/consumer/dragonboard/dragonboard410c/guides/camera-module.md.html

I'm trying to get a camera working with the dragonboard410c, and I've run into a problem with the following section:

"Enable camera
The Linaro release is configured with no camera and users with camera are expe

[2018-07-27 12:23] daniel-thompson commented on #548
Perhaps we should update the *Enable camera* chapter to point at https://github.com/96boards/dt-update instead of hinting about reverting a commit (without an SHA1).

dt-update isn't perfect but https://github.com/96boards/dt-update/blob/master/scripts/db410c/overlays/db410c-d3-mezzanine.dts should give the user more clues about how to modify that DT than the current text.

[2018-07-28 13:17] ubitux commented on #545
Cross-posted at https://discuss.96boards.org/t/hikey-sd-card-boot/5396

I might be doing something wrong, but the documentation is incomplete so I'd still keep that issue open.

[2018-07-30 09:23] daniel-thompson opened #552 "No schematic diagram for Dragonboard 820C"
The hardware docs does not include a schematic diagram for 820C. This is IIRC a certification requirement for a board (and its also very inconvenient).

URL:  https://www.96boards.org/documentation/consumer/dragonboard/dragonboard820c/hardware-docs/

[2018-07-31 14:55] #540 closed

[2018-08-01 06:38] Linuxuser4 opened #554 "lunch hikey970-userdebug does not work"
I am trying to follow instructions on page https://github.com/96boards/documentation/blob/master/consumer/hikey/hikey970/build/aosp.md for building system images to be run on hikey970 board. I find that lunch command does not show options for hikey970-userdebug. All I get is for hikey960-userdebug and hikey-userdebug. Can I get correct options for hikey970?

[2018-08-01 06:43] Mani-Sadhasivam commented on #548
@rball325 As pointed out by @daniel-thompson, please move this topic to 96Boards Forum if you'd like to have a technical discussion.

Thanks for your time!

[2018-08-01 07:03] Mani-Sadhasivam commented on #189
@photoszzt Thanks for the link!

That documentation is for using the OE build generated by Linaro and not for building the OE RFS from scratch. I'm working on adding a HiKey960 OE build doc. Please stay tuned :)

[2018-08-01 08:55] Linuxuser4 commented on #554
Also, I build the Hikey970 kernel based on https://github.com/96boards/documentation/blob/master/consumer/hikey/hikey970/build/linux-kernel.md , (with system images built for Hikey960, since options to build Hikey970 is absent). I tried flashing the kernel (change jumper 3 to ON; fastboot flash boot boot.img; change jumper3 to OFF). The board does not boot up. Looks like kernel crashed. Any pointe

[2018-08-01 10:48] ric96 commented on #554
@Linuxuser4 its possible that the lunch menu doesn't show the hikey970-userdebug option, but the ```lunch hikey970-userdebug``` command still works, I just tested it.

Boot images built for 960 will NOT work for 970.

If any further issues arise, you can post it on our forums at https://discuss.96boards.org/ and tag me, we usually use this issue section for issues related specifically to the docum

[2018-08-01 10:48] #554 closed

[2018-08-01 13:37] daniel-thompson commented on #548
@Mani-Sadhasivam
I did **not** advise Rick to move to this topic to the forum. I just wanted to be clear that the discussion on the issue would be about how to improve the docs rather than solve any specific issue.

IMHO we should consider this as a bug report! The doc referenced was and remains extremely vague about how to find the code needed to modify the device tree.

[2018-08-01 13:57] Mani-Sadhasivam commented on #548
@daniel-thompson Oops, sorry for that!

Agree with you. Eventhough we haven't settled with a way to modify devicetree at runtime, I would like to see the use of `dt-update` on cases like this...

@ndechesne @todortomov What is your opinion?

[2018-08-01 14:00] ndechesne commented on #548
yes, this part needs to be improved, and this is planned for the next release. we are reworking the whole camera setup, for that purpose.

[2018-08-01 14:03] Mani-Sadhasivam commented on #548
@ndechesne Thanks for the update. Will keep this issue opened until we have the PR for improving the Camera guide.

[2018-08-01 14:06] Mani-Sadhasivam commented on #506
Update: The python script was modified to support Python3 but still the instructions are missing for generating `l-loader.bin`

[2018-08-02 15:03] GuillermoCallaghan opened #556 "Problem with _documentation/consumer/rock/downloads/ubuntu.md"
Hi, I recently downloaded the Ubuntu 16.04 Server arm64 image and installed it, after playing with it for a while I found out the username and password, I think it should be visible on the page (username: rock password:rock). I did not try with other images, but the same would apply.
Thanks.
URL:  https://www.96boards.org/documentation/consumer/rock/downloads/ubuntu.md.html

[2018-08-06 02:13] WarGames1987 opened #561 "Problem with _documentation/mezzanine/aerocore2/guides/README.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/mezzanine/aerocore2/guides/

I'm a new user currently own a dragonboard 410c and aim planning on obtaining a dragonboard 820. While I was browsing the "Aerocore2" documentation in the mezzanine section and I got to this page and it ins"t showing anything except for all the usua

[2018-08-07 06:27] Mani-Sadhasivam commented on #561
@WarGames1987

Thanks for pointing this issue!

Yes, we need to add links to the existing contents for Aerocore2. We will work on it. Please stay tuned :)

Thanks,
Mani

[2018-08-08 03:44] #189 closed

[2018-08-08 04:17] photoszzt commented on #189
@Mani-Sadhasivam  I saw the oe guide still uses morty but I saw linaro already releases rocko builds. Can I use the rocko branch rather than the morty? Plus, sumo is also stable now. Is there any plan to support sumo?

[2018-08-08 05:49] Mani-Sadhasivam commented on #189
@photoszzt Good point! We are just following the upstream Linaro OE guide which still uses `morty`. By anyway there is no reason to use the old version. @ndechesne @daniel-thompson  Can we switch to `rocko` or `sumo` in 96Boards OE guide?

[2018-08-08 06:00] ndechesne commented on #189
You could , and should, switch to sumo branch.

[2018-08-08 06:04] Mani-Sadhasivam commented on #189
@ndechesne Thanks for the confirmation. Will submit a PR for that.

[2018-08-08 17:05] photoszzt opened #566 "virtualization warning message"
I checkout the sumo branch of oe-rpb-manifest and build it. It emits the following warning:

WARNING: You have included the meta-virtualization layer, but 'virtualization' has not been enabled in your DISTRO_FEATURES. Some bbappend files may not take effect. See the meta-virtualization README for details on enabling virtualization support.

I need to add DISTRO_FEATURES_append = " virtualization"

[2018-08-08 17:29] ric96 commented on #566
+1 just looked at the sumo build log I did earlier, I see the same warning as well.

[2018-08-08 20:30] ndechesne commented on #566
i will defer to @fboudra , since he added meta-virtualization for building docker.

[2018-08-09 06:42] dashsriram opened #567 "Problem with _documentation/consumer/hikey/hikey970/build/aosp.md"
Please enter some details about the bug/issue so we can promptly resolve it.
URL:  https://www.96boards.org/documentation/consumer/hikey/hikey970/build/aosp.md.html

The source code is not building and giving the following error:
build/make/core/Makefile:28: error: overriding commands for target `out/target/product/hikey970/system/vendor/lib/libc_secshared.so’, previously defined at build/make/cor

[2018-08-13 10:25] daniel-thompson opened #569 "Problem with _documentation/consumer/hikey/hikey970/installation/README.md"
The entire of SD Card Method links to "Coming Soon" pages that AFAIK are not expected any time soon.

These pages should be deleted.

URL:  https://www.96boards.org/documentation/consumer/hikey/hikey970/installation/

[2018-08-13 10:27] daniel-thompson opened #570 "Problem with _documentation/consumer/hikey/hikey970/installation/linux-fastboot.md"
Currently Debian Linux is described as Coming soon... .

There is a question on the forum about how soon.
[code]
[Visit Topic]( https://discuss.96boards.org/t/which-system-is-preloaded-on-hikey-970/4848/9 ) or reply to this email to respond.

URL: https://www.96boards.org/documentation/consumer/hikey/hikey970/installation/linux-fastboot.md.html

[2018-08-18 20:42] #506 closed

[2018-08-23 04:30] b49020 opened #573 "sensors-mezzanine: Documentation is out-of-date versus latest mraa/upm packages"
Hi,

"documentation/mezzanine/sensors-mezzanine/Readme.md" needs to be updated corresponding to MRAA (v1.9.0) and UPM (v1.6.0) Debian packages upgrade.

Regards,
Sumit

[2018-08-23 10:00] daniel-thompson opened #574 "Problem with _documentation/consumer/hikey/hikey970/installation/board-recovery.md"
These instructions do not make clear which of the two USB type C sockets the use should use to perform board recovery. This problem is made worse because *both* type C sockets present themselves as ttyUSB0 meaning the use cannot easily guess that they have selected the wrong socket.

See https://discuss.96boards.org/t/recovery-script-recovery-flash-sh-dev-ttyusbx-fail-to-run-to-completion/5597/6 f

[2018-08-23 10:08] Mani-Sadhasivam commented on #573
@b49020 Thanks a lot for reporting! Btw, feel free to submit a PR for fixing that, otherwise we will take it up.

[2018-08-23 10:09] Mani-Sadhasivam commented on #566
@fboudra Can you please shed some light into this warning?

[2018-08-23 10:14] b49020 commented on #573
@Mani-Sadhasivam I would be happy to create a PR but actually I don't have sensors mezzanine and other modules to test the examples.

[2018-08-23 10:18] ndechesne commented on #566
looking at their README file, I can see:

If you know what you are doing, this warning can be disabled by setting the following
variable in your configuration:
  SKIP_META_VIRT_SANITY_CHECK = 1

So I would say we should either add virtualization in distro feature or add this varilable into our builds.

[2018-08-23 10:31] Mani-Sadhasivam commented on #573
@b49020 No worries. @ric96 Will take care of this. Thanks once again!

[2018-08-23 10:36] Mani-Sadhasivam commented on #566
@ndechesne Thanks for the info! Since we can't quote on the usefulness of virtualization without discussing with @fboudra, we will wait for his reply.

[2018-08-23 10:36] Mani-Sadhasivam commented on #556
@vamrs Can you please take a look at this issue?

[2018-08-23 16:32] #556 closed

[2018-08-26 10:23] skxo opened #579 "Problem with _documentation/consumer/hikey/hikey620/downloads/debian.md"
Hello,

links to download Debian boot and rootfs are broken.
Please send me the links

Regardss

[2018-08-28 10:38] kylekirkby opened #580 "Broken links stopping website changes from going ahead."
/documentation/consumer/hikey/hikey620/downloads/debian.md.html:
   http://snapshots.linaro.org/96boards/hikey/linaro/debian/latest/linaro-stretch-developer-hikey-*.sd.gz [1]
   http://snapshots.linaro.org/96boards/hikey/linaro/debian/latest [1]
   http://snapshots.linaro.org/96boards/hikey/linaro/debian/latest/boot-linaro-stretch-developer-hikey-*.img.gz [1]
   http://snapshots.linaro.org/96board

[2018-08-28 10:42] ric96 commented on #580
The snapshots got deleted since they timed out, the best immediate workaround is to remove the links for now.
sent an email to @fboudra to discuss a possible solution.

[2018-08-28 12:13] ric96 commented on #580
Was fixed automatically after new builds were uploaded.

[2018-08-28 12:13] #580 closed

[2018-08-31 09:37] #574 closed

[2018-09-02 13:21] #579 closed, assigned to nobody

[2018-09-07 20:17] ric96 commented on #573
@Mani-Sadhasivam @b49020 can you tell which exact/line or paragraph this is, I don't see us mentioning any specific version of mraa here.

[2018-09-07 20:31] ric96 commented on #544
looks like a formatting issue... i'll fix in a bit

[2018-09-07 20:36] ric96 commented on #309
@sdrobertw do you think we can ping arrow on this?

[2018-09-10 10:11] daniel-thompson commented on #570
If we are not planning to update linux-fastboot.md.html with instructions for Debian then the "Coming soon..." should be removed.

[2018-09-10 10:13] ric96 commented on #570
@daniel-thompson
I'll update the instructions from the lemaker guide then. They seem to work.

[2018-09-10 20:43] #569 closed

[2018-09-10 20:43] #347 closed

[2018-09-10 20:43] #505 closed

[2018-09-11 17:31] ubitux commented on #544
Step 2 is still referencing an unknown zipfile.

[2018-09-11 17:34] ric96 commented on #544
@ubitux
Step 2 refers to the zip file that's available in the downloads section. I see how it's not obvious, I'll modify.

[2018-09-12 05:51] b49020 commented on #573
@ric96 Actually its not about mraa version info but regarding outdated examples corresponding to upm v1.6.0 python libraries. One of outdated example is mentioned [here](https://discuss.96boards.org/t/mraa-and-upm-not-working-together/5157/7?u=sumit.garg).

[2018-09-12 18:34] araffucci commented on #30
In addition to making sure I have spidev in the kernel, I had to add device under each SPI in the device tree (arch/arm64/boot/dts/qcom/apq8016-sbc.dtsi):

                spi@78b7000 {
		/* On High speed expansion */
			label = "HS-SPI1";
			status = "okay";

			spidev@0 {
				compatible = "spidev";
				spi-max-frequency = <500000>;
				reg = <0>;
			};
		};

                spi@78b9000 {
		/* On

[2018-09-25 12:56] daniel-thompson opened #592 "Problem with _documentation/enterprise/developerbox/installation/debian.md"
This page recommends ACPI mode be selected. This is not possible until the firmware has been upgraded (the factory firmware does not include ACPI support).

URL:  https://www.96boards.org/documentation/enterprise/developerbox/installation/debian.html

[2018-09-25 12:58] daniel-thompson opened #593 "Problem with _documentation/enterprise/developerbox/installation/debian.md"
This isn't great advice. Installers often hang when trying to set the boot order variables when DSW3-2 is set. It would be better to adopt the modprobe.blacklist=nouveau workaround during the installer and switch to the DSW3-2 hack after the system has booted.

URL:  https://www.96boards.org/documentation/enterprise/developerbox/installation/debian.html

[2018-09-25 14:51] daniel-thompson opened #594 "Problem with _documentation/consumer/dragonboard/dragonboard410c/installation/linux-fastboot.md"
Step 6 is "Unzip both files" but does not describe how to do this. This can be a difficult step for new users.

URL:  https://www.96boards.org/documentation/consumer/dragonboard/dragonboard410c/installation/linux-fastboot.md.html

[2018-10-01 06:43] Mani-Sadhasivam commented on #573
@ric96 We need to test all the examples mentioned in the README or I would recommend to just point to the upstream UPM example and modify the instructions accordingly.

[2018-10-01 06:44] Mani-Sadhasivam commented on #570
@ric96 Any update on this issue?

[2018-10-01 06:45] Mani-Sadhasivam commented on #552
@sdrobertw Any plan on getting the schematic?

[2018-10-01 06:46] Mani-Sadhasivam commented on #281
More recent version of the datasheet will be publicly available from Actions soon. So we can update it once released. Closing this issue for now!

[2018-10-01 06:46] #281 closed

[2018-10-01 06:47] Mani-Sadhasivam commented on #309
@ric96 @sdrobertw Any update on this issue?

[2018-10-01 06:49] Mani-Sadhasivam commented on #542
@vamrs Can you please take a look at this?